<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Be EPIC Everyday</title>
    <link rel="icon" href="image/logo_pink.png" />
    <!-- TODO: ask joel to give infinite sign vector -->

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="background" style="background-image: url(&quot;https://farm9.staticflickr.com/8141/7562931754_d235245504_k.jpg&quot;);"></div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="/image/logo_pink.png">
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://www.facebook.com">
                        <small></small><img class="quicklink-img" src="/image/facebook-icon.svg"></img>
                        </small>
                    </a>
                </li>
                <li>
                    <a href="http://www.gmail.com">
                        <small></small><img class="quicklink-img" src="/image/gmail-icon.svg"></img>
                        </small>
                    </a>
                </li>
                <li>
                    <a href="http://www.youtube.com">
                        <small></small><img class="quicklink-img" src="/image/youtube-icon.svg"></img>
                        </small>
                    </a>
                </li>
                <li>
                    <a href="http://www.drive.google.com">
                        <small></small><img class="quicklink-img" src="/image/drive-icon.svg"></img>
                        </small>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</body>

</html>