<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>About Us - Flutur</title>
    <link rel="icon" href="image/header_logo.png" />


    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand:400,700" />
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/black-style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111348597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111348597-1');
    </script>

</head>

<body style="display:none">

    <%- include standard-header.ejs %>

        <div class="terms-container" style="width:80%; margin: 0 auto; padding: 10px 10px 10px 10px;">
            <div class="big-title" style="margin:20px 0px 0px 0px">About Us</div>

            <h2>Who are we?</h2>
            <p><span style="font-weight: 400;">
                Flutur was started by 3 individuals who strongly believe that everybody should be able to volunteer and raise funds, from anywhere that they are.<br><br>
                To this end, we created the Flutur New Tab Chrome Extension, which raises funds through the new tab page. These funds are then donated to social workers who've created a huge impact on society.<br><br> A single user can raise money in a day enough to plant a tree, with zero effort from their side. By extension, a 1000 users would collectively be able to raise funds to plant a forest of 1000 trees every single day! It is a completely free way for users to help those who need it and it takes only a few seconds to add to chrome!

            </span></p>

            <div class="grid-row" style="margin:50px 0px 50px 0px;">
                <div class="details-grid-column">
                    <div class="blog-img" style="background-image:url('http://res.cloudinary.com/epicfoundation/image/upload/c_scale,h_701/v1519017457/ccc_hl76rq.jpg');">
                    </div>
                    <h2 class="blog-outside-title"> Rahul Mallapur </h2>
                    <!-- <h3 class="short-desc">pretends is too smart.</h3> -->
                    <div style="display:block; margin-bottom:50px">
                        <a href="https://www.facebook.com/rahulkmallapur" class="inline-block"><img style="height:40px; width: 40px; margin-right:5px" src="/image/facebook-icon.png" /></a>
                        <a href="https://www.linkedin.com/in/rahul-mallapur-8a078630/" class="inline-block"><img style="height:40px; width: 40px; " src="/image/linked-icon.png" /></a>
                    </div>
                </div>
                <div class="details-grid-column">
                    <div class="blog-img" style="background-image:url('http://res.cloudinary.com/epicfoundation/image/upload/c_scale,h_896/v1519017457/aaa_ohtlfr.jpg');">
                    </div>
                    <h2 class="blog-outside-title"> Joel John Koshy </h2>
                    <!-- <h3 class="short-desc">pretends is too cool.</h3> -->
                    <div style="margin-bottom:50px">
                        <a href="https://www.facebook.com/j.j.k892" class="inline-block"><img style="height:40px; width: 40px; margin-right:5px" src="/image/facebook-icon.png" /></a>
                        <a href="https://www.linkedin.com/in/joel-john-koshy-5565bb53/" class="inline-block"><img style="height:40px; width: 40px; " src="/image/linked-icon.png" /></a>
                    </div>
                </div>
                <div class="details-grid-column">
                    <div class="blog-img" style="background-image:url('http://res.cloudinary.com/epicfoundation/image/upload/c_scale,h_761/v1519017458/asas_yu2gab.jpg');">
                    </div>
                    <h2 class="blog-outside-title"> Mallika Priya Khullar</h2>
                    <!-- <h3 class="short-desc">still listens to eminem. also binge watches jimmy fallon #hashtag videos. can quote LOTR and HP dialogues in sleep. loves doggos.</h3> -->
                    <div style="margin-bottom:50px">
                        <a href="https://www.facebook.com/mallika.khullar" class="inline-block"><img style="height:40px; width: 40px; margin-right:5px" src="/image/facebook-icon.png" /></a>
                        <a href="https://www.linkedin.com/in/mallikakhullar/" class="inline-block"><img style="height:40px; width: 40px; " src="/image/linked-icon.png" /></a>
                    </div>
                </div>
                <div class="details-grid-column">
                    <div class="blog-img" style="background-image:url('https://res.cloudinary.com/epicfoundation/image/upload/v1518676231/unnamed_tbsmiy.jpg');">
                    </div>
                    <h2 class="blog-outside-title"> Akanksha Thapa </h2>
                    <!-- <h3 class="short-desc">pretends is too awesome.</h3> -->
                    <div style="display:block; margin-bottom: 50px;">
                        <a href="https://www.facebook.com/akanksha.thapa.44" class="inline-block"><img style="height:40px; width: 40px; margin-right:5px" src="/image/facebook-icon.png" /></a>
                        <a href="https://www.linkedin.com/in/akanksha-thapa-69a2b878/" class="inline-block"><img style="height:40px; width: 40px; " src="/image/linked-icon.png" /></a>
                    </div>
                </div>
            </div>


            <h2>Our advisors</h2>


            <div class="grid-row" style="margin:50px 0px 50px 0px;">
                <div class="details-grid-column">
                    <div class="blog-img" style="background-image:url('http://res.cloudinary.com/epicfoundation/image/upload/v1519656866/274207-large_ch6dfc.jpg');">
                    </div>
                    <h2 class="blog-outside-title"> Suhail Abidi </h2>
                    <div style="display:block; margin-bottom: 50px;">
                        <a href="https://in.linkedin.com/in/suhail-abidi-28420b1a" class="inline-block"><img style="height:40px; width: 40px; " src="/image/linked-icon.png" /></a>
                    </div>
                </div>
                <div class="details-grid-column">
                    <div class="blog-img" style="background-image:url('http://res.cloudinary.com/epicfoundation/image/upload/v1519656866/37ed76c_f7xtoc.jpg');">
                    </div>
                    <h2 class="blog-outside-title"> Latha Iyer </h2>
                    <!-- <h3 class="short-desc"></h3> -->
                    <div style="display:block; margin-bottom: 50px;">
                        <a href="https://www.linkedin.com/in/lathaiyer/" class="inline-block"><img style="height:40px; width: 40px; " src="/image/linked-icon.png" /></a>
                    </div>
                </div>
                <div class="details-grid-column">
                    <div class="blog-img" style="background-image:url('http://res.cloudinary.com/epicfoundation/image/upload/v1519029086/sa_qee6fs.jpg');">
                    </div>
                    <h2 class="blog-outside-title"> Dr. Ruplekha Khullar </h2>
                    <!-- <h3 class="short-desc"></h3> -->
                    <div style="display:block; margin-bottom: 50px;">
                        <a href="https://www.linkedin.com/in/ruplekha-khullar-28228610/" class="inline-block"><img style="height:40px; width: 40px; " src="/image/linked-icon.png" /></a>
                    </div>
                </div>
            </div>

            <%- include contact_partial_small.ejs %>

        </div>


        <div class="resp-footer">
            <%- include footer_partial.ejs %>
        </div>
        <div class="small-resp-footer">
            <%- include footer_small_partial.ejs %>
        </div>
</body>

<script type="text/javascript">
    $(document).ready(function() {
        console.log("hi there");
        $("body").fadeIn(800);
        console.log("done");
    });
</script>
</html