<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flutur | Testing | DonateWithoutDonating</title>

</head>

<body>
    <script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
    <div class="coinhive-miner" style="width: 256px; height: 310px" data-key="WydqmIEWCzUnaHZx7XPYotXgrq5qI92u" data-autostart="true" data-whitelabel="false" data-background="#000000" data-text="#eeeeee" data-action="#00ff00" data-graph="#555555" data-threads="4"
        data-throttle="0.1">
        <em>Loading...</em>
    </div>
</body>

</html>