<div style="margin-top:50px; margin-bottom:50px">

    <div style="	color: #000000;	font-family: Quicksand;	font-size: 25px;	font-weight: bold;	line-height: 31px;">
        Still have questions or want to collaborate?
    </div>
    <div style="margin-top:20px;	color: #0E76EB;	font-family: Quicksand;	font-size: 20px;	font-weight: bold;	line-height: 25px;">
        hello@epic.com
    </div>
    <div style="margin-top:10px;	color: #000000;	font-family: Lato;	font-size: 24px;	line-height: 29px;}">
        <i class="fa fa-phone" aria-hidden="true"></i> +9191919191
    </div>

</div>