{{!-- {{> partial_global_mobile_header_v2 }}
{{> partial_global_header_desktop }} --}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-content">
                <div class="row">

                    <div class="col-sm-2 hidden-xs">
                        <div id="left_nav_partial_container">
                            {{!-- {{> partial_global_left_nav }} --}}
                        </div>
                    </div>

                    <div class="col-sm-8 col-xs-12">
                        <div id="error_404_feed">
                            <div id="error_404_container">
                                <div class="row">
                                    <div class="col-sm-8 col-xs-6">
                                        <div id="error_404_content_header">Page not found!</div>
                                        <div id="error_404_content">Yikes! Looks like the page you were looking for, does not exist!<br/></div>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">

                                        <div id="error_404_image_container">
                                            {{!-- <img src="{{@staticImageUrl}}/error/error_404.jpg" alt="error 404 icon" /> --}}
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-sm-2 hidden-xs">
                        <div id="app_info_partial_container">
                            {{!-- {{> partial_global_app_info }} --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- {{> partial_landing_footer_v2 }} --}}