<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Flutur | FAQs | DonateWithoutDonating </title>
    <link rel="icon" href="image/header_logo.png" />

    <link type="text/css" href="//fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css-min/new-age.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/mobile-view.css">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/blog.css">



    <style>
        .small-title {
            color: #650F66;
            font-family: Quicksand;
            font-size: 25px;
            margin-top: 50px;
            font-weight: 300;
            padding: 5px 5px 20px 0px;
            line-height: 31px;
        }
        
        .accordion-toggle {
            border-top: 1px solid #979797;
            cursor: pointer;
            margin: 0;
            padding: 10px 0 10px 20px;
            position: relative;
            color: #000000;
            font-family: Quicksand;
            font-size: 16px;
            font-weight: bold;
        }
        
        .accordion-toggle.active:after {
            content: "";
            position: absolute;
            right: 0;
            top: 17px;
            width: 0;
            height: 0;
            /* border-bottom: 5px solid #f00; */
            border-left: 5px solid rgba(0, 0, 0, 0);
            border-right: 5px solid rgba(0, 0, 0, 0);
        }
        
        .accordion-toggle:before {
            content: "";
            position: absolute;
            right: 0;
            top: 17px;
            width: 0;
            height: 0;
            border-top: 5px solid #000;
            border-left: 5px solid rgba(0, 0, 0, 0);
            border-right: 5px solid rgba(0, 0, 0, 0);
        }
        
        .accordion-toggle.active:before {
            display: none;
        }
        
        .accordion-content {
            display: none;
            color: #4C4C4C;
            font-family: Quicksand;
            padding: 0px 0 10px 20px;
            font-size: 14px;
            line-height: 18px;
        }
        
        .accordion-toggle.active {
            color: black;
        }
        
        body,
        html {
            background: white;
        }
        
        @media (min-width: 1200px) {
            .container {
                width: 90%;
            }
        }
    </style>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111348597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111348597-1');
    </script>

</head>

<body style="display:none">

    <%- include standard-header.ejs %>

        <div style="width:80%; margin: 0 auto; padding: 10px 10px 10px 10px;">
            <div class="big-title" style="margin:20px 0px 10px 0px">FAQs</div>
            <div class="big-subtitle">You seem curious. Scroll down and you will get the answers to everything that people ask us.</div>

            <div class="small-title">My conributions</div>
            <div class="accordion">
                <h4 class="accordion-toggle">How do I donate?</h4>
                <div class="accordion-content">
                    <li>At the end of a week, you will get an option to donate to a cause</li>
                    <li>The cause would be the one which you selected at the beginning of the week</li>
                    <li>Make sure you continue to donate every week!</li>
                </div>

                <h4 class="accordion-toggle">How much do I contribute by opening a tab?</h4>
                <div class="accordion-content">
                    <li>The amount presently varies between 0.1 to 0.25 paise per tab</li>
                    <li>On an average, a person opens 25 tabs a day. The resulting amount is enough to feed 7 meals to an underprivileged child</li>
                </div>

                <h4 class="accordion-toggle">When does my contribution reach NGOs?</h4>
                <div class="accordion-content">
                    <li>At the end of every month, we make donations to the NGOs</li>
                    <li>We calculate the total funds raised for each cause, and then equally divide those amongst the partner NGOs of that cause</li>
                </div>
                <h4 class="accordion-toggle">How are the NGOs selected?</h4>
                <div class="accordion-content">
                    <li>NGO should be registered, should have a valid 12A, and their accounts should be audited over at least the last 2 years</li>
                    <li>Presently we are working only with NGOs based in India</li>
                </div>
                <h4 class="accordion-toggle">How can I play a larger role?</h4>
                <div class="accordion-content">
                    <li>You are a true samaritan! You could start with getting more of your friends to use the chrome app. Do keep checking our homepage for new projects - we need people like you to help us reach out to more people.</li>
                </div>
            </div>

            <div class="small-title">General</div>
            <div class="accordion">
                <h4 class="accordion-toggle">How do I whitelist this website on my adblocker?</h4>
                <div class="accordion-content">
                    <li>Click Adblock extention in your browser</li>
                    <li>Click on “don’t run on pages from this domain”</li>
                </div>

                <h4 class="accordion-toggle">How can I view relevant ads?</h4>
                <div class="accordion-content">
                    Ads are completely sourced from a third party provider. Do get in touch with us if you see irrelevant ads.
                </div>

                <h4 class="accordion-toggle">Can I sign up without Google or Facebook?</h4>
                <div class="accordion-content">
                    Not yet. Presently we uniquely identify you based on your google or facebook id. We need to save your past donations, preferences and make those available across devices.
                </div>
                <h4 class="accordion-toggle">What information we collect about you?</h4>
                <div class="accordion-content">
                    We only save your name, email and google/facebook id. We will never share any details.
                </div>
            </div>
            <%- include contact_partial_small.ejs %>

        </div>

        <div class="resp-footer">
            <%- include footer_partial.ejs %>
        </div>
        <div class="small-resp-footer">
            <%- include footer_small_partial.ejs %>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $("body").fadeIn(800);
                $('.accordion').find('.accordion-toggle').click(function() {
                    $(this).next().slideToggle('600');
                });
            });
        </script>
</body>

</html>