<div class="small-footer">

    <div class="row small-footer-row" style="">
        <div class="col-xs-4">
            <div class="display-number-title">Donations So Far</div>
            <div class="small-display-number">
                <%- stats.donations %>
            </div>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="display-number-title">People on Flutur</div>
            <div class="small-display-number">
                <%- stats.followers %>
            </div>
        </div>
    </div>


    <div class="row small-footer-row">
        <div class="col-sm-12">
            <div class="btn-outline btn-med" style="cursor:pointer; display:inline-block;margin-top:5px">
                <!-- <i class="fa fa-venus-mars" aria-hidden="true"></i> -->
                <a class="white" target="_top" href="https://www.facebook.com/flutur.org/" style="text-decoration:none!important;">
                    <img style="display:inline-block; height:14px; margin-bottom:1px" class="quicklink-img" src="/image/white_facebook_icon.png"></img>
                    <div style="display:inline-block" class="white quicksand" style="font-size:10px;">Facebook page</div>
                </a>
            </div>
        </div>
    </div>


    <div class="row small-footer-row">
        <div class="col-sm-12">
            <div class="btn-outline btn-med" style="display:inline-block;padding: 10px 30px 10px 30px; font-size:12px; cursor:pointer">
                <a target="_top" href="https://chrome.google.com/webstore/detail/flutur-small-flutters-cau/onebagjpomhjadhoiianmnelkbcnllnf" style="padding: 20px; text-decoration:none!important; color:white; height:100%; width:100%">
                GO TO CHROME EXTENSION
                </a>
            </div>
        </div>
    </div>

    <div class="row small-footer-row">
        <div class="col-sm-12">
            <div style="margin-top:10px; text-align: center;">
                <ul class="list-inline white quicksand">
                    <li class="white"><a href="/">Home</a></li>
                    <li class="white"><a href="/blog">Blog</a></li>
                    <li class="white"><a href="/faqs">FAQs</a></li>
                    <li class="white"><a href="/privacy">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row small-footer-row">
        <div class="col-sm-12">
            <div class="col-sm-4 white quicksand" style="font-size:12px; margin-top:5px"><i class="fa fa-phone" aria-hidden="true"></i> +8310753447
                <br> Email us at: hello@flutur.org
            </div>
        </div>
    </div>
</div>