<footer style="height:200px">
    <div class="row">
        <div class="col-sm-2">
            <div class="display-number-title">Donations So Far</div>
            <div class="display-number">
                <%- stats.donations %>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="display-number-title">EPIC People</div>
            <div class="display-number">
                <%- stats.followers %>
            </div>
        </div>
        <div class="col-sm-8"></div>
    </div>
    <div class="row" style="margin-top:30px">
        <div class="col-sm-3">
            <div class="btn-outline btn-med" style="display:inline-block;padding: 10px 30px 10px 30px; font-size:12px; cursor:pointer">

                <i class="fa fa-venus-mars" aria-hidden="true"></i>
                <a target="_top" href="https://chrome.google.com/webstore/detail/flutur-small-flutters-cau/onebagjpomhjadhoiianmnelkbcnllnf" style="padding: 20px; text-decoration:none!important; color:white; height:100%; width:100%">
                GO TO CHROME EXTENSION
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div style="margin-top:10px; text-align: center;">
                <ul class="list-inline white quicksand">
                    <li class="white"><a href="/home">Home</a></li>
                    <li class="white"><a href="/faqs">FAQs</a></li>
                    <li class="white"><a href="/terms">Terms and Conditions</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3 white quicksand" style="text-align:right; font-size:16px"><i class="fa fa-phone" aria-hidden="true"></i> +9191919191</div>
    </div>
</footer>