<footer>
    <div class="row">
        <div class="col-sm-2">
            <div class="display-number-title">Donations So Far</div>
            <div class="display-number">
                <%- stats.donations %>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="display-number-title">People on Flutur</div>
            <div class="display-number">
                <%- stats.followers %>
            </div>
        </div>
        <div class="col-sm-8" style="text-align: right">
            <div class="white footer-icons">
                <a class="white" target="_top" href="https://www.facebook.com/flutur.effect" style="text-decoration:none!important;">
                    <i class="fa fa-facebook side-margin-5" aria-hidden="true"></i></a>
                <a class="white" target="_top" href="https://www.linkedin.com/company/13597215/" style="text-decoration:none!important;">
                    <i class="fa fa-linkedin side-margin-5" aria-hidden="true"></i></a>
                <a class="white" target="_top" href="https://plus.google.com/u/3/110952200509921853796" style="text-decoration:none!important;">
                    <i class="fa fa-google-plus side-margin-5" aria-hidden="true"></i></a>
            </div>
            <!-- <div class="btn-outline btn-med" style="cursor:pointer; display:inline-block;margin-top:5px">
                <a class="white" target="_top" href="http://fb.me/flutur.effect" style="text-decoration:none!important;">
                    <img alt="Flutur Facebook" style="display:inline-block; height:14px; margin-bottom:1px" class="quicklink-img" src="/image/white_facebook_icon.png"></img>
                    <div style="display:inline-block" class="white quicksand" style="font-size:10px;">Facebook page</div>
                </a>
            </div> -->
        </div>
    </div>
    <div class="row" style="margin-top:30px">
        <div class="col-sm-4">
            <div class="btn-outline btn-med" style="display:inline-block;padding: 10px 30px 10px 30px; font-size:12px; cursor:pointer">
                <a target="_top" href="https://chrome.google.com/webstore/detail/flutur-small-flutters-cau/onebagjpomhjadhoiianmnelkbcnllnf" style="padding: 20px; text-decoration:none!important; color:white; height:100%; width:100%">
                GO TO CHROME EXTENSION
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="margin-top:10px; text-align: center;">
                <ul class="list-inline white quicksand">
                    <li class="white"><a href="/">Home</a></li>
                    <li class="white"><a href="/blog">Blog</a></li>
                    <li class="white"><a href="/faqs">FAQs</a></li>
                    <li class="white"><a href="/privacy">Privacy</a></li>
                    <li class="white"><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 white quicksand" style="text-align:right; font-size:12px; margin-top:5px"><i class="fa fa-phone" aria-hidden="true"></i> +8310753447
            <br> Reach us at: hello@flutur.org
        </div>
    </div>
    <div class="footer-desc white quicksand big-margin-top">
        <h2 class="footer-title quicksand">Volunteering is all about a click</h2>
        <p>
            Giving back to the society is not just a job of the change makers, it is everyone’s job. Flutur is making giving back accessible and effortless. The 'Flutur New Tab' Chrome extension takes micro-volunteering in India to the next level. You will be volunteering
            while you are online and with no additional effort from your side. Once you install the 'Flutur New Tab' Chrome extension, you can choose your cause and you are all set to volunteer. Every new tab you open on the browser, you raise a tiny
            amount of money. Considering an average user opens 40 tabs a day, you raise 40x of the tiny amount of money you raise per tab.

            <br>You can be in Mumbai and volunteer in Bangalore. You need not even live in India, yet you could be volunteering for NGOs all over India. Once you choose a cause, you can be volunteering with multiple NGOs at the same time. And you can
            work on different causes and NGOs every week. You need not spend time on scrutinizing NGOs or volunteering opportunities. Flutur has that covered for you. The best part is, we keep a proof of your donations to the NGOs, so that you can use
            a volunteering certificate for applications including those for graduate school or even job applications.

            <br>Flutur is on a quest to make volunteering more accessible. Volunteering is possible from the comforts of your home, from your office or anytime you are browsing the internet. By installing Flutur’s New Tab Chrome extension you could potentially
            raise money to plant 25 trees every month. If you get 10 friends to use the Chrome extension, you would together raise enough to plant 250 trees in a month! That’s what we call the 'Flutur Effect’, tiny acts such as opening a new tab would
            have large effects that amounts to planting 250 trees a month! Go ahead and share it with your friends. Happy volunteering!

        </p>

        <h2 class="footer-title quicksand">With Flutur, you can volunteer as you work </h2>
        <p>
            Each of us is troubled by a plethora of social issues: lack of women rights, child labor and child abuse, urban and rural unemployment, corruption, drug abuse, public sanitation, gender inequality at work, the problem of dowry and many more that are prevalent
            in India. Considering the present lifestyle of people, only a select few have the desire and the time to work on these causes. Flutur is working hard on engaging people for social causes while they are busy working. Our first product, Tabs
            for Infinite Change, allows you to raise funds for NGOs while you are browsing the internet. It's the easiest form of volunteering that exists for people who want to give back to the world.

            <br>You need not go to off places to volunteer; you can do it from anywhere – from your workplace, home, even while you're on vacation. You could be volunteering in India with its grassroot social organizations, while you are busy working
            in Europe. Also you can do it all the time, while you are using your laptop or your desktop. Now you need not postpone that one volunteering assignment just because it is far away. With Flutur's New tab Chrome extension installed, you are
            volunteering all the time. You'll will continuously donate without actually donating.
        </p>

        <h2 class="footer-title quicksand">Donate without putting in your money</h2>
        <p>
            With Flutur, you are donating without actually donating. On every new tab, we show a tiny ad. Each ad impression gives us a little money. Let’s put some numbers to it. Every new tab you open with Flutur’s Tabs for Infinite Change, you raise about 0.25
            paise per tab. An average person opens about 25 tabs a day. That is enough to feed 7 meals to a child in need or save an animal on the street.

            <br>Assuming you use the Chrome extension for a month, you raise enough money to feed 210 meals for a kid in India. Or if you get 10 of your friends to use it, you and your friends will provide for 70 meals in a day! A lot of impact without
            spending any penny on it or no additional effort. That’s what is called the Flutur Effect.
        </p>
        <h2 class="footer-title quicksand">Work on causes that you care about</h2>
        <p>
            <p>
                Flutur has partnered with NGOs for their fight for women rights, restoring the environment, improving access to education for kids, prevention of cruelty and rehabilitation of animals. Every week you can choose a new mission on Tabs for Infinite Change.
                The money that you raise that week goes to NGOs working on those causes.
                <br>Presently we have decided to donate to two NGOs for each cause. Each NGO is highly regarded for the social impacted created. We will donate to CUPA and Friendicoes for rehabilitation of animals in Bangalore and NCR in India. Make a
                Difference and Smile Foundation for improving access to education for kids in India. Gramalaya and Habitat for Humanity for enhancing urban infrastructure for the poor. Seva Sadan and CARE India for empowering women. All the money that
                is raised by Flutur is donated to these NGOs.</p>

            <h2 class="footer-title quicksand">We are building products that you would love</h2>
            <p>
                We at Flutur believe in the Butterfly Effect – small changes can have big effects. The Flutur Effect, derived from Butterfly Effect, applies for social change; we define it as tiny acts can have large effects on the society.<br> We are
                creating beautiful products that have real social impact. The products blend micro-volunteering opportunities with practically useful activities. So that you can freely continue working while you volunteer and raise money for NGOs. You
                are essentially donating without actually donating.
                <br>The world needs more superheroes and Flutur is on a search mission. With you onboard, we have now have one more superhero to fight the cruelty in the world. Become a FluturHero today! #DonateWithoutDonating</p>
    </div>
</footer>