<table id="impact-grid">
    <tr>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
    </tr>
    <tr>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
    </tr>
    <tr>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
    </tr>
    <tr>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
        <td><img class="impact-img" src="/image/tree_empty.png"></td>
    </tr>
</table>