<div class="big-screen-sections">
    <section id="proj" class="gradient-box-container bg-white" style="padding: 100px 0 0 0;">
        <div class="row tab-project-container">
            <div class="col-sm-4" style="text-align: left; margin-top:-200px">
                <a href='https://bit.ly/kindoapp'> <img alt="Flutur Chrome Extension" src="/image/kindoasset1.png" class="img-responsive" /></a>
            </div>

            <div class="col-sm-4 tab-project-details-container" style="text-align:center; padding: 90px 0 0 0 ">
                <div class="blackbord-box">PROJECT MOBILE - KINDO</div>
                <a href='https://bit.ly/kindoapp'><img alt="Flutur Chrome Extension" src="/image/kindo_logo.png" class="img-responsive-smaller-semi" style="margin: 30px 0" /></a>
                <div class="thin-text black font-smaller" style="text-align:center;letter-spacing: 1px; margin:10px 50px;">
                    The Kindo Game is an addictive Android puzzle game. Each of the 100+ puzzles will push your creative limits. While you enjoy, Flutur raises funds for charity through tiny ads.
                </div>

            </div>

            <div class="col-sm-4" style="margin-top:-200px">
                <a href='https://bit.ly/kindoapp'> <img alt="Flutur Chrome Extension" src="/image/kindoasset2.png" class="img-responsive" /></a>
            </div>
        </div>
</div>
</section>
</div>