<section id="proj-small" class="gradient-box-container bg-lightgrey" style="padding: 100px 0;">
    <div class="row">
        <div class="col-sm-12">
            <div class="blackbord-box">PROJECT TWO: FLUTUR NEW TAB</div>
        </div>
    </div>

    <div class="row tab-project-container">
        <div class="col-sm-5 big-laptop-container">
            <img alt="Flutur Chrome Extension" src="/image/flutur_laptop.png" class="img-responsive" /></div>
        <div class="col-sm-5 tab-project-details-container">
            <div class="black-quicksand-title" style="margin:100px 0 20px 0; font-size:50px; line-height:50px">Flutur New Tab</div>
            <div class="thin-text black font-small" style="letter-spacing: 1px; margin:20px 0 20px 0;">The <b>Flutur New Tab</b> Chrome extension replaces your new tab page with a beautiful one designed by us. Every new tab you open while surfing the web raises funds for the cause of your choice.</div>
            <div onclick="installChromeApp()" style="cursor:pointer; margin-top:10px; padding:25px 30px 40px 30px" class="white-button">
                <img alt="Flutur Chrome Extension Get Started" src="/image/get_started_text.png" style="float:left;height:15px" />
                <img alt="Flutur Chrome Extension New Tab Get Started" src="/image/gradient_arrow.png" style="float:right;height:15px" />
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-5"></div>
        <div class="col-sm-2 know-how-container">
            <a href="/faqs" style="text-decoration:none; margin-top:300px">
                <div class="know-how">Know how?</div>
                <div style="box-sizing: border-box; width: 87px; border: 1px solid #000000;"></div>
            </a>
        </div>
    </div>
</section>