<section id="small-chrome-extension" class=" bg-white" style="text-align: center">
    <div class="blackbord-box">PROJECT ONE: KINDO GAME</div>
    <a href='https://bit.ly/kindoapp'><img src="/image/kindo_logo.png" class="img-responsive-smaller" style="margin:50px auto 0 auto" alt="Kindo Game Flutur" /></a>

    <h3 class="thin-text black font-xsmall" style="margin:30px; line-height:1.5; letter-spacing: 0.5px">
        Kindo is an addictive Android puzzle game. Each of the 100+ puzzles will push your creative limits. While you enjoy, Flutur raises funds for charity through tiny ads. Try it out today!
    </h3>

    <a href='https://bit.ly/kindoapp'><img src="/image/kindoasset3.png" class="img-responsive-smaller" alt="Kindo Game Flutur" /></a>

    <h3 class="thick-text black font-xsmall" style="line-height:1.5; letter-spacing: 0.5px">
        *Beta
    </h3>
</section>