<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EPIC Foundation</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendor/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="/css/new-age.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img src="/image/logo.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-top: 15px;padding-right: 15px;">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/faqs">FAQs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/terms">T&amp;Cs</a>
                    </li>
                    <li>
                        <div class="btn-outline btn-med" style="padding: 10px 30px 10px 30px; font-size:14px; cursor:pointer">

                            <i class="fa fa-venus-mars" aria-hidden="true"></i>
                            <a href="https://chrome.google.com/webstore/detail/todoist-to-do-list-and-ta/jldhpllghnbhlbpcmnajkpdmadaolakh" style="padding: 20px; text-decoration:none!important; color:white; height:100%; width:100%">
                                Every Page, Infinite Change
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>EPIC Foundation wants to help NGOs by doing certain stuff!</h1>
                            <a style="text-decoration: none" href="https://chrome.google.com/webstore/detail/todoist-to-do-list-and-ta/jldhpllghnbhlbpcmnajkpdmadaolakh" class="small-pink-button page-scroll white">I want to change the world</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                        <img src="/image/earth_badge.jpg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="about" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="device-container">
                        <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                        <img src="/image/earth_badge.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>ABOUT US</h1>
                            <h1>The world needs heroes everyday!</h1>
                            <h1>EPIC creates technologies that help you support organizations fighting to make the world a better place!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>EPIC Foundation wants to help NGOs by doing certain stuff!</h1>
                            <a style="text-decoration: none" href="https://chrome.google.com/webstore/detail/todoist-to-do-list-and-ta/jldhpllghnbhlbpcmnajkpdmadaolakh" class="small-pink-button page-scroll white">I want to change the world</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                        <img src="/image/earth_badge.jpg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>We <i class="fa fa-heart"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section>

    <%- include contact_partial.ejs %>


        <footer>
            <div class="container">
                <p>&copy; 2016 Start Bootstrap. All Rights Reserved.</p>
                <ul class="list-inline">
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                    <li>
                        <a href="#">Terms</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                </ul>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="/vendor/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

        <!-- Theme JavaScript -->
        <script src="js/new-age.min.js"></script>

</body>

</html>