<section id="small-chrome-extension" class=" bg-lightgrey">
    <div class="blackbord-box">PROJECT TWO: FLUTUR NEW TAB</div>

    <div class="small-laptop-container">
        <img src="/image/flutur_laptop.png" class="img-responsive" alt="Flutur Chrome Extension New Tab" /></div>

    <div class="small-project-details-container">
        <div class="black-page-title" style="font-size:37px;line-height:40px;">Flutur New Tab</div>
        <h3 class="thin-text black font-xsmall" style="line-height:1.5; letter-spacing: 0.5px">The <b>Flutur New Tab</b> Chrome extension replaces your new tab page with a beautiful one designed by us. Every new tab you open while surfing the web raises funds for the cause of your choice.</div>
    <div onclick="installChromeApp()" style="cursor:pointer; margin:5px 15px 0px 15px; padding:25px 40px 40px 40px" class="white-button">
        <img alt="Flutur Chrome Extension New Tab" src="/image/get_started_text.png" style="float:left;height:15px" />
        <img alt="Flutur Chrome Extension New Tab" src="/image/gradient_arrow.png" style="float:right;height:15px" />
    </div>
</section>