<div class="big-screen-sections">
    <section id="proj" class="gradient-box-container bg-white" style="padding: 100px 0 0 0;">
        <div class="row tab-project-container">
            <div class="col-sm-4" style="text-align: right">
                <img alt="Flutur Chrome Extension" src="/image/kindoasset1.png" class="img-responsive-smaller" />
            </div>

            <div class="col-sm-4 tab-project-details-container" style="text-align:center">
                <div class="blackbord-box">PROJECT MOBILE - KINDO</div>
                <img alt="Flutur Chrome Extension" src="/image/kindo_logo.png" class="img-responsive-smaller" style="margin: 30px 0" />
                <div class="blog-short-desc" style="text-align:center;letter-spacing: 1px; margin:10px 50px;">
                    Install this game to donate to charity and challenge yourself to some awesome lateral thinking puzzles, woot!
                </div>

            </div>

            <div class="col-sm-4">
                <img alt="Flutur Chrome Extension" src="/image/kindoasset2.png" class="img-responsive-smaller" />
            </div>
        </div>
</div>
</section>
</div>