<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Welcome To EPIC</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
        
         :-moz-only-whitespace
    </style>
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Welcome To EPIC</h1>

            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Facebook</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Gmail</a>
        </div>

    </div>
</body>

</html>