<div class="big-screen-sections">
    <section id="proj" class="gradient-box-container bg-white" style="padding: 100px 0 0 0;">
        <div class="row tab-project-container">
            <div class="col-sm-4">
                <img alt="Flutur Chrome Extension" src="/image/kindoasset1.png" class="img-responsive" />
            </div>

            <div class="col-sm-4 tab-project-details-container">
                <div class="blackbord-box">
                    <div style="margin:0 auto">PROJECT CHROME</div>
                </div>
                <div class="thin-text black font-small" style="letter-spacing: 1px; margin:20px 0 20px 0;">
                    Kindo description here
                </div>
                <div class="thin-text black font-small" style="letter-spacing: 1px; margin:20px 0 20px 0;">
                    Kindo description here
                </div>
            </div>

            <div class="col-sm-4">
                <img alt="Flutur Chrome Extension" src="/image/kindoasset2.png" class="img-responsive" />
            </div>
        </div>
</div>
</section>
</div>