<section id="small-chrome-extension" class=" bg-white" style="text-align: center">
    <div class="small-gradient-box-container">
        <div class="gradient-box" style="font-weight:500;font-size:12px">
            <div class="white " style=" float:left;width:25%;padding-left:5px; ">PROJECT MOBILE</div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="small-laptop-container">
        <img src="/image/kindoasset1.png" class="img-responsive" alt="Kindo Game Flutur" />
    </div>

    <h3 class="thin-text black font-xsmall" style="line-height:1.5; letter-spacing: 0.5px">
        Kindo description here
    </h3>

    <img src="/image/kindoasset2.png" class="img-responsive" alt="Kindo Game Flutur" />

    <h3 class="thin-text black font-xsmall" style="line-height:1.5; letter-spacing: 0.5px">
        *Beta
    </h3>
    </div>
</section>
</div>