<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Flutur | Login | DonateWithoutDonating</title>
    <link rel="icon" href="image/header_logo.png" />

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">

    <link href="/css-min/new-age.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css-min/styles.min.css">

    <style>
        header .header-content {
            text-align: left;
            padding: 0;
        }
        
        .login-btn {
            font-family: Lato;
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
        }
        
        .red {
            color: #D13732;
        }
        
        .blue {
            color: #2E4587;
        }
    </style>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111348597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111348597-1');
    </script>
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container" style="width:95%">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="padding-top: 10px;">
                <a target="_top" class="navbar-brand" href="http://www.flutur.org">
                    <img src="/image/flutur_logo_white.png">
                </a>
            </div>
        </div>
    </nav>

    <header>
        <div style="z-index: 0; bottom:0; left: 0; position:absolute;">
            <img style="width: 230px" src="/image/happy_earth.png" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <div class="roboto-thick" style="font-size: 54px; line-height:55px; margin-bottom:20px">Tabs For Infinite Change</div>
                            <div class="roboto-thin small-text" style="padding-right:50px;">Sign up to take your first step towards start making the world a better place, one tab at a time!</div>
                            <div class="stats">
                                <div class="inline-item-left">
                                    <div class="roboto-thin xsmall-text ">Donations made so far</div>
                                    <div class="roboto-normal medium-text display-number">
                                        <%- stats.donations %>
                                    </div>
                                </div>
                                <div class="inline-item-right" style="width:1px; height:42px; background-color:white">

                                </div>
                                <div class="inline-item-right">
                                    <div class="roboto-thin xsmall-text ">People on Flutur</div>
                                    <div class="roboto-normal medium-text display-number">
                                        <%- stats.followers %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5 ">
                    <div class="header-content">
                        <div class="header-content-inner-box">
                            <div class="thin-rectangle">
                                <div class="signup-text">Sign up</div>
                                <div>
                                    <a href="/auth/google" target="_top" class="full-width btn btn-xl white-btn login-btn red" style="margin-top: 10px">
                                        <img src="/image/google_white.png" style="height:25px; margin-right:10px; margin-bottom:2px" />Google Plus</a>
                                </div>
                                <div>
                                    <a href="/auth/facebook" target="_top" class="btn full-width btn-xl white-btn login-btn blue" style="margin-top: 10px">
                                        <img src="/image/facebook_white.png" style="height:20px; margin-right:10px; margin-bottom:2px" />Facebook</a>
                                </div>
                            </div>
                            <div style="margin-top:30px; text-align:center" class="roboto-thin smaller-text"><i class="fa fa-power-off" aria-hidden="true"></i> Please turn your Ad blocker off for this site!</div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </header>


    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js "></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js "></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js "></script>

    <!-- Theme JavaScript -->
    <script src="js/new-age.min.js "></script>

</body>

</html>