<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EPIC Foundation</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">


    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendor/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="/css/new-age.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

    <style>
        .login-btn {
            font-family: Lato;
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
        }
        
        .red {
            color: #D13732;
        }
        
        .blue {
            color: #2E4587;
        }
    </style>
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand" href="/">
                    <img src="/image/flutur.png">
                </a>
            </div>
        </div>
    </nav>

    <header>
        <div style="z-index: 0; bottom:0; left: 0;position:absolute">
            <img src="/image/happy_earth.png" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1 class="roboto-thick">Every Page for Infinite Change!</h1>
                            <h2 class="roboto-thin small-text">Sign up to take your first step towards start making the world a better place, one Epic person at a time!</h2>
                            <div class="stats">
                                <div class="inline-item-left">
                                    <div class="roboto-thin xsmall-text ">Donations made so far</div>
                                    <div class="roboto-normal medium-text ">
                                        <%- stats.donations %>
                                    </div>
                                </div>
                                <div class="inline-item-right">
                                    |
                                </div>
                                <div class="inline-item-right">
                                    <div class="roboto-thin xsmall-text ">EPICers so far</div>
                                    <div class="roboto-normal medium-text ">
                                        <%- stats.followers %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 ">
                    <div class="header-content">
                        <div class="header-content-inner-box">
                            <div class="thin-rectangle">
                                <div class="signup-text">Sign up</div>
                                <div><a href="/auth/google" target="_top" class="full-width btn btn-xl white-btn login-btn red" style="margin-top: 10px">Google Plus</a></div>
                                <div><a href="/auth/facebook" target="_top" class="btn full-width btn-xl white-btn login-btn blue" style="margin-top: 10px">Facebook</a></div>
                            </div>
                            <div style="margin-top:30px; text-align:center" class="roboto-thin smaller-text"><i class="fa fa-power-off" aria-hidden="true"></i> Please turn your Ad blocker off for this site!</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>


    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js "></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js "></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js "></script>

    <!-- Theme JavaScript -->
    <script src="js/new-age.min.js "></script>

</body>

</html>