<header class="small-mobile-header">
    <div class="col-sm-6 primary-section-container">
        <div class="header-content">
            <div class="header-content-inner">
                <div class="main-home-title thick-text white">How long are you active online everyday?</div>
                <div class="rangeslider-wrap" style="visibility:hidden">
                    <input type="range" min="0" max="16" step="0.5" labels="0, 16" value="1">
                </div>
            </div>
        </div>
    </div>
    <div class="small-header-content white">
        <div class="small-header-content-inner" style="width:100%">
            <div class="small-trans-box">
                <div style="display:table">
                    <div id="small-impact-val" class="thick-text" style="padding-right:5px; font-size:40px; vertical-align:middle; width:100px;text-align:left;display:table-cell">3.12</div>
                    <select id="small-year" style="display:table-cell;padding:15px">
                                    <option value="tree">TREES</option>
                                    <option value="food">CHILDREN FED</option>
                                    <option value="book">DAYS OF SCHOOL</option>
                                </select>
                </div>

                <div id="small-impact-stmt" class="thin-text font-smaller" style="margin:10px 0 0 5px;">Planted &amp; watered by you in 1 year by doing almost nothing!</div>
                <div style="margin: 10px 0px 50px 0">
                    <%- include small_grid.ejs %>
                </div>
            </div>
            <div id="small-footer-motivation" style="padding: 40px 0px;">
                <a href="#small-about" style="text-decoration:none">
                    <div style="text-align:center" class="thin-text white">The world needs more superheroes! <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="small-content-box">
    <section id="small-about" class="about-container bg-white">
        <div class="flutur-effect-container">
            <h1 class="pink-quicksand-title">The flutur effect</h1>
            <h1 class="black-quicksand-title" style="margin:15px 0px;">Tiny acts can have large effects</h1>
            <h3 class="thin-text black font-smaller">At Flutur, we are building products which convert your otherwise wasted hours into real donations. As a result, you can change the world right from your workplace!
            </h3>
        </div>
        <div class="amita-img-container">
            <img src="/image/flutur_pratiksha.png" style="width:60%;filter: alpha(opacity=90);"></img>
        </div>
    </section>


    <section id="chrome-extension" class="chrome-extension bg-lightgrey">
        <div class="small-gradient-box-container">
            <div class="gradient-box">
                <div class="white font-smaller" style="float:left;width:25%;padding-left:5px; ">PROJECT ONE</div>
                <div class="white" style="float:left;width:5%;">|</div>
                <div class="white font-smaller" style="float:left;width:70%;">TABS FOR INFINITE CHANGE</div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="small-laptop-container">
            <img src="/image/flutur_laptop.png" class="img-responsive" alt=""></div>

        <div class="small-project-details-container">
            <div class="black-quicksand-title">Tabs For Infinite Change</div>
            <div class="thin-text black font-smaller" style="margin:20px 0 20px 0;">The <b>Tabs For Infinite Change </b> Chrome extension replaces your new tab page with a beautiful one designed by us. Every new tab you open while surfing the web raises funds for the cause of your choice.</div>
            <div onclick="installChromeApp()" style="cursor:pointer; margin-top:10px; padding:25px 30px 40px 30px" class="white-button">
                <img src="/image/get_started_text.png" style="float:left;height:15px" />
                <img src="/image/gradient_arrow.png" style="float:right;height:15px" />
            </div>
        </div>
    </section>


    <section id="pledge" class="pledge-section bg-white">
        <div class="col-sm-1"></div>
        <div class="col-sm-6 pledge-container">
            <h1 class="black-quicksand-title">We’re starting a revolution at Flutur &amp; we need your support!</h1>
            <h2 class="thin-text black font-smaller" style="margin:20px 0 20px 0;">Share your email to know more about us</h2>

            <div style="margin-top:20px;" id="email-input" class="email-input">
                <span>
                    <input class="basic-slide font-smaller small-name" id="name" type="email" placeholder="Eg. i.love.flutur@gmail.com" />
                    <label for="name" class="small-email-label font-smaller"  style="cursor:pointer"> Tell Me More
                        <i class="fa fa-angle-right" aria-hidden="true" style="margin: 0 10px"></i>
                    </label>
                </span>
            </div>

            <div style="margin-top:20px;display:none" class="email-submit" id="email-submit">
                Awesome! We will send you an email shortly :)
            </div>

            <div class="gif-container">
                <img src="/image/flutur_logo.gif" style="height:auto; width:70%" />
            </div>
        </div>
    </section>


</div>