<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Be EPIC Everyday</title>
    <link rel="icon" href="image/logo_pink.png" />
    <!-- TODO: ask joel to give infinite sign vector -->

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand:400,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

    <!-- background image -->
    <!-- <div class="background" style="background-image: url(&quot;https://source.unsplash.com/collection/1172264/1600x900/daily&quot;);"></div> -->

    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="/image/logo.png">
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://www.facebook.com">
                        <small></small><img class="quicklink-img" src="/image/facebook-icon.svg"></img>
                        </small>
                    </a>
                </li>
                <li>
                    <a href="http://www.gmail.com">
                        <small></small><img class="quicklink-img" src="/image/gmail-icon.svg"></img>
                        </small>
                    </a>
                </li>
                <li>
                    <a href="http://www.youtube.com">
                        <small></small><img class="quicklink-img" src="/image/youtube-icon.svg"></img>
                        </small>
                    </a>
                </li>
                <li>
                    <a href="http://www.drive.google.com">
                        <small></small><img class="quicklink-img" src="/image/drive-icon.svg"></img>
                        </small>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="widgets show-widgets">
        <div id="center-above"></div>
        <div id="middle">
            <div class="greeting" class="transition" style="opacity: 1;">
                <strong>Hello,</strong>
                <%- user.name %><br>
                    <!-- <p>1 <i class="fa fa-heart-o" aria-hidden="true"></i> = $0.01 Donated!</p> -->
            </div>
        </div>

        <div id="middle-below">
            <div>
                <input id="autocomplete" title="type &quot;a&quot;" placeholder="Search Google">
            </div>
        </div>
    </div>


    <div class="footer tfac-grey-background">
        <div id="user-profile-container" class="small-shadow">
        </div>
    </div>
    </div>

</body>

</html>