<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="bIgzhiYzJX-z_6EqT39MpkW7wN8J7zbpD_8puZbvKeM" />
    <link rel="icon" href="/image/header_logo.png" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/new-age.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile-view.css">
    <link rel="stylesheet" href="/css/blog.css">

    <title>
        Flutur Helpdesk
    </title>

    <meta name="author" content="Mallika Priya Khullar" />
    <meta name="keywords" content="helpdesk, aarambh, frugal, innovation, indian ngo, aarambh helpdesk, flutur helpdesk" />
    <meta name="description" content="Flutur supports Mumbai based NGO Aarambh's frugal innovation - helpdesk" />
    <meta property="og:title" content="Helpdesk" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.flutur.org/projects/helpdesk" />
    <meta property="og:image" content="/image/white_facebook_icon.png" />
    <meta property="og:description" content="Flutur supports Mumbai based NGO Aarambh's frugal innovation - helpdesk" />
    <meta property="fb:app_id" content="197971190828325" />
    <meta name="twitter:title" content="Helpdesk" />
    <meta name="twitter:description" content="Flutur supports Mumbai based NGO Aarambh's frugal innovation - helpdesk" />
    <meta name="twitter:url" content="http://www.flutur.org/projects/helpdesk" />
    <meta name="twitter:image" content="/image/white_facebook_icon.png" />


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111348597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111348597-1');
    </script>

    <style>
        .footer-desc {
            display: none
        }
        
        .footer-icons {
            font-size: 20px;
        }
        
        .side-margin-5 {
            margin: 0 15px;
        }
        
        @media all and (max-width: 699px) {
            .footer-icons {
                font-size: 20px;
            }
            .side-margin-5 {
                margin: 0 15px;
            }
            .amazon-blog {
                display: none;
            }
            .black-share {
                display: none;
            }
            .squish {
                padding: 30px 0px;
            }
            .blog-outside-title {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                font-family: Roboto;
                font-size: 18px;
                font-weight: bold;
                line-height: 21px;
                margin: 10px 0px;
            }
            .blog-short-desc {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                color: #4C4C4C;
                font-family: "Source Serif Pro";
                font-size: 14px;
                line-height: 18px;
                margin: 10px 0px;
                height: 36px;
            }
            .recent-title {
                margin: 80px 0px 10px 0px;
            }
            .navbar-brand>img {
                height: 90%;
                padding: 10px 0 0 15px;
                width: auto;
            }
            .small-roboto-thick {
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
            }
            .small-roboto-thin {
                font-family: Roboto;
                font-size: 10px;
                line-height: 14px;
            }
            .small-user-partial {
                float: left;
                width: 60%;
            }
            .user-container-small {
                display: block;
            }
            .user-container {
                display: none;
            }
            #blog-header {
                display: none;
            }
            #blog-header-small {
                display: block;
                padding: 16px 0px;
                overflow: auto;
            }
            .user-deets {
                margin-left: 10px;
                margin-top: 5px;
            }
            .circ-img {
                height: 45px;
                width: 45px;
            }
            .facebook-btn {
                float: right;
                font-size: 12px;
                cursor: pointer;
                margin-top: 6px;
            }
            .small-donate-partial {
                display: none;
            }
            .blog-detail-container {
                width: 90%;
                margin: 0 auto;
                padding: 30px 0px 10px 0px;
            }
            div.center-cropped {
                width: 100%;
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .black-quicksand-title {
                font-size: 28px;
                font-weight: bold;
                line-height: 30px;
            }
            .para-text {
                color: #000000;
                font-family: "Source Serif Pro";
                font-size: 15px;
                line-height: 31px;
                margin: 10px 0px;
            }
            .para-image {
                width: 80%;
            }
            .image-caption {
                color: #A9A9A9;
                font-family: Roboto;
                font-size: 9px;
                font-style: italic;
                line-height: 10px;
                padding: 10px 0px;
            }
            .para-title {
                font-family: Roboto;
                font-size: 22px;
                font-weight: bold;
                line-height: 25px;
                margin: 20px 0px;
            }
            .para {
                margin: 20px 0px;
            }
        }
        
        @media screen and (min-width: 700px) {
            .recent-title {
                margin: 110px 0px 10px 0px;
            }
            .squish {
                padding: 60px 90px 0px 90px;
            }
            .para-text {
                color: #000000;
                font-family: "Source Serif Pro";
                font-size: 22px;
                line-height: 35px;
                margin: 10px 0px;
            }
            .user-container {
                display: block;
            }
            .user-container-small {
                display: none;
            }
            #blog-header {
                display: block;
            }
            #blog-header-small {
                display: none;
            }
            .user-deets {
                margin-left: 10px;
                margin-top: 10px;
            }
            .circ-img {
                height: 60px;
                width: 60px;
            }
            .facebook-btn {
                float: right;
                width: 300px;
                font-size: 12px;
                cursor: pointer;
            }
            .small-user-partial {
                float: left;
                width: 40%;
            }
            .small-donate-partial {
                float: right;
                width: 60%;
            }
            div.center-cropped {
                width: 100%;
                height: 500px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .para {
                margin: 50px 0px;
            }
            .para-title {
                font-family: Roboto;
                font-size: 30px;
                font-weight: bold;
                line-height: 35px;
                margin: 20px 0px;
            }
            .blog-detail-container {
                width: 80%;
                margin: 0 auto;
                padding: 50px 0px 10px 0px;
            }
            .para-image {
                width: 50%;
            }
            .image-caption {
                color: #A9A9A9;
                font-family: Roboto;
                font-size: 12px;
                font-style: italic;
                line-height: 14px;
                padding: 10px 0px;
            }
        }
        
        .very-thin-roboto {
            color: #4C4C4C;
            font-family: Roboto;
            font-size: 12px;
            font-style: italic;
            font-weight: 300;
            line-height: 19px;
            width: 350px;
        }
        
        .btn-outline:hover,
        .btn-outline:focus,
        .btn-outline:active,
        .btn-outline.active {
            background-color: rgba(255, 255, 255, 0.8);
            border-color: rgba(255, 255, 255, 1);
        }
        
        .blog-outside-title {
            margin: 10px 0px 5px 0px;
        }
        
        .blog-short-desc {
            margin: 0px 0px 15px 0px;
        }
        
        h1,
        h2,
        h3 {
            letter-spacing: 0px;
        }
        
        .center-align {
            text-align: center;
        }
        
        .top-bottom-margin {
            margin: 50px;
        }
        
        .small-margin-top {
            margin-top: 10px;
        }
        
        .big-margin-top {
            margin-top: 60px;
        }
        
        .small-margin-bottom {
            margin-bottom: 10px;
        }
        
        .footer-title {
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 20px;
        }
        
        .footer-desc {
            display: none
        }
    </style>
</head>

<body style="display:none">

    <%- include standard-header.ejs %>

        <div class="blog-detail-container">

            <div class="center-cropped" style="background-image: url('https://i.ytimg.com/vi/_10AyjJD8A4/maxresdefault.jpg');">
                <div class="black-share" style="position: absolute;right: 10%;margin-top: 420px; margin-right: 20px;">

                </div>
            </div>

            <div class="image-caption">
                Hello caption
            </div>


            <div class="squish">
                <h1 class="black-quicksand-title">
                    Helpdesk
                </h1>

                <div style="margin:20px 0px;">
                    <div class="para">
                        <div class="para-title">
                        </div>

                        <div style="text-align:center;">
                            <img alt="flutur" src="/image/white_facebook_icon.png" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            Helpdesk is a portable desk and school bag, made out of recycled cardpaper and produced by women self groups in rural Maharashtra, India. It costs just INR10 to manufacture.
                            <br><br>Kids in rural India walk miles to reach the nearest school. The concept of carrying school bags, wearing shoes or a school uniform are distant dreams because most families are landless laborers who barely earn Rs.50
                            for 10 hours of work. Children often sit on the floor to do their work without the aid of desks, and carry their books and materials home in flimsy, plastic shopping bags. Children who sit for long hours without the benefit
                            of a desk can develop poor posture, eyesight problems and even bad handwriting. Lack of school bags implies that students miss school in rainy season and many times it is the reason for their dropping off from school.
                            <br><br>School bags and desks was an urgent problem to be fixed for these kids, who easily number to 10million. </div>
                    </div>
                </div>
                <div style="margin:20px 0px;">
                    <div class="para">
                        <div class="para-title"> The journey:
                        </div>

                        <div style="text-align:center;">
                            <img alt="flutur" src="/image/white_facebook_icon.png" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            Aarambh with the DDB Mudra, a media company, started working from a point of frugal innovation. The framework outlining the project were not so simple: (i) a desk that can be assembled by a 7 year old kid, (ii) can be repurposed for a school bag, (iii)
                            low priced and (iv) made from recycled materials. <br><br>“Looking back, I think the solution was right in front of our eyes,” says Sanuree Gomes, an art director from DDB Mudra, the firm responsible
                            for the design. “We wanted a material that was not only strong, but flexible and economical. We had just received a shipment at our office, and we had boxes lying all around us.”
                        </div>
                    </div>
                </div>

                <div style="margin:20px 0px;">
                    <div class="para">
                        <div class="para-title"> About Helpdesk:
                        </div>

                        <div style="text-align:center;">
                            <img alt="flutur" src="/image/white_facebook_icon.png" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">


                            Materials: Cardpaper sources from local businesses and recycling centers.
                            <br> Shelf life: 6-12months
                            <br> Manufacturing cost: Rs15 / units
                            <br> Production team: 10 women part of a self help group
                            <br> Team: Shobha Murthy, SHGs in Vidharba.

                        </div>
                    </div>
                </div>

                <div style="margin:20px 0px;">
                    <div class="para">
                        <div class="para-title"> some para title
                        </div>

                        <div style="text-align:center;">
                            <img alt="flutur" src="/image/white_facebook_icon.png" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            some para text </div>
                    </div>
                </div>


            </div>

        </div>

        <div class="resp-footer">
            <%- include footer_partial.ejs %>
        </div>
        <div class="small-resp-footer">
            <%- include footer_small_partial.ejs %>
        </div>

        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a4222d4a0befa9c"></script>

</body>

<script>
    $(document).ready(function() {
        $("body").fadeIn(800);

        $(".facebook-share").attr("href", "http://www.facebook.com/sharer.php?u=" + window.location.href);
        $(".facebook-share").click(function(e) {
            e.preventDefault();
            window.open($(this).attr('href'), 'fbShareWindow', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
            return false;
        });
    });
</script>

</html>