<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="bIgzhiYzJX-z_6EqT39MpkW7wN8J7zbpD_8puZbvKeM" />
    <link rel="icon" href="/image/header_logo.png" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <link href="//fonts.googleapis.com/css?family=Poppins:100,200,300,500,700" rel="stylesheet" />

    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/new-age.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile-view.css">
    <link rel="stylesheet" href="/css/blog.css">

    <title>
        Flutur Helpdesk
    </title>

    <meta name="author" content="Mallika Priya Khullar" />
    <meta name="keywords" content="helpdesk, aarambh, frugal, innovation, indian ngo, aarambh helpdesk, flutur helpdesk" />
    <meta name="description" content="Flutur supports Mumbai based NGO Aarambh's frugal innovation - helpdesk" />
    <meta property="og:title" content="Helpdesk" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.flutur.org/projects/helpdesk" />
    <meta property="og:image" content="/image/white_facebook_icon.png" />
    <meta property="og:description" content="Flutur supports Mumbai based NGO Aarambh's frugal innovation - helpdesk" />
    <meta property="fb:app_id" content="197971190828325" />
    <meta name="twitter:title" content="Helpdesk" />
    <meta name="twitter:description" content="Flutur supports Mumbai based NGO Aarambh's frugal innovation - helpdesk" />
    <meta name="twitter:url" content="http://www.flutur.org/projects/helpdesk" />
    <meta name="twitter:image" content="/image/white_facebook_icon.png" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111348597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111348597-1');
    </script>

    <style>
        .blue-27 {
            padding: 100px 0px;
            width: 100vw;
            color: white;
            text-align: center;
            background-color: #13869E;
        }
        
        .para-text {
            font-weight: 200;
            font-size: 15px;
        }
        
        .black-quicksand-title,
        .para-text,
        body {
            font-family: Poppins;
        }
        
        .footer-desc {
            display: none
        }
        
        .footer-icons {
            font-size: 20px;
        }
        
        .side-margin-5 {
            margin: 0 15px;
        }
        
        @media all and (max-width: 699px) {
            .footer-icons {
                font-size: 20px;
            }
            .side-margin-5 {
                margin: 0 15px;
            }
            .amazon-blog {
                display: none;
            }
            .black-share {
                display: none;
            }
            .squish {
                padding: 30px 0px;
            }
            .blog-outside-title {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                font-size: 18px;
                font-weight: bold;
                line-height: 21px;
                margin: 10px 0px;
            }
            .blog-short-desc {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                color: #4C4C4C;
                font-size: 14px;
                line-height: 18px;
                margin: 10px 0px;
                height: 36px;
            }
            .recent-title {
                margin: 80px 0px 10px 0px;
            }
            .navbar-brand>img {
                height: 90%;
                padding: 10px 0 0 15px;
                width: auto;
            }
            .small-roboto-thick {
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
            }
            .small-roboto-thin {
                font-size: 10px;
                line-height: 14px;
            }
            .small-user-partial {
                float: left;
                width: 60%;
            }
            .user-container-small {
                display: block;
            }
            .user-container {
                display: none;
            }
            #blog-header {
                display: none;
            }
            #blog-header-small {
                display: block;
                padding: 16px 0px;
                overflow: auto;
            }
            .user-deets {
                margin-left: 10px;
                margin-top: 5px;
            }
            .circ-img {
                height: 45px;
                width: 45px;
            }
            .facebook-btn {
                float: right;
                font-size: 12px;
                cursor: pointer;
                margin-top: 6px;
            }
            .small-donate-partial {
                display: none;
            }
            .blog-detail-container {
                width: 90%;
                margin: 0 auto;
                padding: 30px 0px 10px 0px;
            }
            div.center-cropped {
                width: 100%;
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .black-quicksand-title {
                font-size: 28px;
                font-weight: bold;
                line-height: 30px;
            }
            .para-text {
                color: #000000;
                font-size: 15px;
                line-height: 31px;
                margin: 10px 0px;
            }
            .para-image {
                width: 80%;
            }
            .image-caption {
                color: #A9A9A9;
                ;
                font-size: 9px;
                font-style: italic;
                line-height: 10px;
                padding: 10px 0px;
            }
            .para-title {
                ;
                font-size: 22px;
                font-weight: bold;
                line-height: 25px;
                margin: 20px 0px;
            }
            .para {
                margin: 20px 0px;
            }
        }
        
        @media screen and (min-width: 700px) {
            .recent-title {
                margin: 110px 0px 10px 0px;
            }
            .squish {
                padding: 60px 90px 0px 90px;
            }
            .para-text {
                color: #000000;
                font-size: 15px;
                line-height: 35px;
                margin: 10px 0px;
            }
            .user-container {
                display: block;
            }
            .user-container-small {
                display: none;
            }
            #blog-header {
                display: block;
            }
            #blog-header-small {
                display: none;
            }
            .user-deets {
                margin-left: 10px;
                margin-top: 10px;
            }
            .circ-img {
                height: 60px;
                width: 60px;
            }
            .facebook-btn {
                float: right;
                width: 300px;
                font-size: 12px;
                cursor: pointer;
            }
            .small-user-partial {
                float: left;
                width: 40%;
            }
            .small-donate-partial {
                float: right;
                width: 60%;
            }
            div.center-cropped {
                width: 100%;
                height: 500px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .para {
                margin: 50px 0px;
            }
            .para-title {
                ;
                font-size: 30px;
                font-weight: bold;
                line-height: 35px;
                margin: 20px 0px;
            }
            .blog-detail-container {
                width: 80%;
                margin: 0 auto;
                padding: 50px 0px 10px 0px;
            }
            .para-image {
                width: 50%;
            }
            .image-caption {
                color: #A9A9A9;
                ;
                font-size: 12px;
                font-style: italic;
                line-height: 14px;
                padding: 10px 0px;
            }
        }
        
        .very-thin-roboto {
            color: #4C4C4C;
            ;
            font-size: 12px;
            font-style: italic;
            font-weight: 300;
            line-height: 19px;
            width: 350px;
        }
        
        .btn-outline:hover,
        .btn-outline:focus,
        .btn-outline:active,
        .btn-outline.active {
            background-color: rgba(255, 255, 255, 0.8);
            border-color: rgba(255, 255, 255, 1);
        }
        
        .blog-outside-title {
            margin: 10px 0px 5px 0px;
        }
        
        .blog-short-desc {
            margin: 0px 0px 15px 0px;
        }
        
        h1,
        h2,
        h3 {
            letter-spacing: 0px;
        }
        
        .center-align {
            text-align: center;
        }
        
        .open-new-tabs-to {
            text-transform: uppercase;
            color: #FFFFFF;
            font-family: Poppins;
            font-size: 14px;
            line-height: 21px;
        }
        
        .uc {
            text-transform: uppercase;
        }
        
        .mint {
            color: #23D2AF;
        }
        
        .end-to-end {
            width: 100%;
            cursor: pointer;
            background: black;
            padding: 30px 0;
            color: white;
        }
        
        .congrats-title {
            font-family: Poppins;
            font-size: 25px;
            font-weight: 700;
        }
        
        .top-bottom-margin {
            margin: 50px;
        }
        
        .small-margin-top {
            margin-top: 10px;
        }
        
        .big-margin-top {
            margin-top: 60px;
        }
        
        .small-margin-bottom {
            margin-bottom: 10px;
        }
        
        .footer-title {
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 20px;
        }
        
        .footer-desc {
            display: none
        }
        
        .quick-weight-bold-small,
        .display-number-title,
        .display-number,
        .btn-med,
        .quicksand,
        footer ul li a,
        .quick-weight-bold {
            font-family: Poppins;
        }
    </style>
</head>

<body style="display:none">

    <%- include standard-header.ejs %>



        <div class="end-to-end" onclick="installChromeApp()">
            <div style="width:300px; margin:0 auto">
                <img alt="flutur" src="http://res.cloudinary.com/epicfoundation/image/upload/v1523957194/aarambh_3x_nmwmwl.png" style="float:left;width:25px;height:25px;margin:3px 10px 0px 0px">
                <div class="congrats-title mint uc">
                    32
                    <span class="white">desks funded!</span>
                </div>
                <div class="days-left">
                    14 days left!
                </div>
            </div>


        </div>


        <div class="blog-detail-container">

            <div class="center-cropped" style="background-image: url('http://res.cloudinary.com/epicfoundation/image/upload/v1523968501/Screen_Shot_2018-04-17_at_6.04.03_pm_hcdfrs.png');">
            </div>

            <div class="squish">
                <h1 class="black-quicksand-title">
                    Building rainwater harvesting structures in Karauli to benefit 600 families
                </h1>

                <div style="margin:20px 0px;">
                    <div class="para">
                        <div style="text-align:center;">
                            <img alt="flutur" src="/image/white_facebook_icon.png" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            Karauli district is amongst the 100 most backward districts in India.The poorest and marginalized communities dominate the area. The unique characteristic of the region is primarily related to water, i.e. inadequate rainfall, degrading ground water level
                            and least water retention capacity of the soil. Frequent droughts have added to the plight of the people.<br><br>Agriculture and livestock rearing are the primary sources of income in this region.
                            Due to falling groundwater levels, tube wells practically have run out of water. In addition, inadequate scientific water-management systems has lead to insufficient irrigation. Thus directly hurting agricultural productivity.
                            Such stress on the agricultural sector has complex implications; endangered food-security, persistent poverty leading to educational and health backwardness and out-migration.<br><br>Livestock rearing has become unviable due
                            to inadequate water supply and loss of green pastures. There is severe pressure on scarce resources leading to further destruction of natural resources and the environment. <br><br>Tarun Bharat Sangh, an non-profit organization
                            lead by Dr. Rajendra Singh, works on frugal innovative solutions to provide clean water access. Tarun Bharat Sangh is building 30 johads in Karuali - one for each village. A johad, is a crescent-shaped dam of earth and rocks,
                            built to intercept rainfall runoff. A johad serves two functions. On the surface, it holds water for livestock. But like an iceberg, its most important parts are below the surface. By holding water in place, it allows water
                            to percolate down through the soil. It recharges the aquifer below, many times as far as a kilometer away. Stored underground, the water could not be lost to evaporation. In the midst of the dry season, without pipes or ditches
                            to deliver water, villagers could always count on plenty of water from their wells, and irrigated fields lush with wheat, mustard and beans.
                        </div>
                    </div>
                </div>

                <div style="margin:20px 0px;">
                    <div class="para">
                        <div class="para-title"> Impact of the project

                        </div>

                        <div style="text-align:center;">
                            <img alt="flutur" src="/image/white_facebook_icon.png" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            Project start: June 2017; project end: June 2018<br>Johads to be built: 30<br>Villages covered: 30<br>Cost of building each johad: Locals involved in building a johad: <br>Time to build a johad: <br>Direct beneficiaries: 900
                            families; indirect beneficiaries: 6000 people
                        </div>
                    </div>
                </div>
                <div style="margin:20px 0px;">
                    <div class="para">
                        <div class="para-title">About Tarun Bharat Sangh

                        </div>

                        <div style="text-align:center;">
                            <img alt="flutur" src="/image/white_facebook_icon.png" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            Tarun Bharat Sangh (TBS), based in Rajasthan, is lead by Dr. Rajendra Singh - who is loveably referred as the water man of India. The group follows a Gandhian philosophy of helping the poor to help themselves. TBS is best known for doing ecological research
                            and land development to provide clean and fresh water to people. Over the last three decades, Tarun Bharat Sangh has built 402 structures over an area of 500 sq km in an arid portion of Rajasthan to rejuvenate the river, increasing
                            water supply to villages in the surrounding region through tube wells and bore wells. Over the years, Tarun Bharat Sangh has built rainwater harvesting structures to recharge ground water and restore ecology of 1,200 semi-arid
                            villages in Rajasthan.
                        </div>
                    </div>
                </div>

                <div style="margin:20px 0px;">
                    <div class="para">
                        <div class="para-title"> Restoring life and hope in Gopalpura in 1986

                        </div>

                        <div style="text-align:center;">
                            <img alt="flutur" src="/image/white_facebook_icon.png" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            The four decades long deforestation in Alwar district in Rajasthan, set off a slow-motion chain reaction the impoverishment of nature led to the impoverishment of the people. When the rains came in 1985, they washed soil down the treeless hillsides, and
                            much of that soil was deposited in johad ponds. Over time, thousands of johads were filled with silt. As silted johads channeled less water underground to recharge the aquifer, the underground water began to retreat deeper
                            below the surface. <br><br>In earlier times, villagers would have dug out the silt and rebuilt their crumbling dams. But as the government seized more and more of their common lands, they had less
                            and less incentive to protect what was left. Where farmers had once banded together to manage their resources, now they competed over the dwindling remains. <br><br>In place of johads, the villagers turned to modern technology
                            to keep the water flowing. With government aid in the 1950s, they began drilling “tube wells”– deep wells that brought up the water with diesel-powered pumps. But the new wells ensnared them in a vicious cycle. When the water
                            table dropped, they drilled even deeper; and the deeper they drilled, the more the water dropped. Eventually, the underground water dropped deeper than people could drill, wells began to go dry, and even streams and rivers
                            were drying up.<br><br>Climate change or not, monsoon seasons became shorter, from 101 days in 1973 to 55 days in 1986. The result was even less rainwater to replenish the aquifer. Rajendra Singh, who was on a social mission
                            to improve education in the district, shifted his focus to the water problem after being aware of the impact of water scarcity in the region’s economy. He with the help of locals dug out 15ft deep silt from a johad. By the
                            end of the monsoon season in 1986, the pond was full. And something unexpected happened. A neighborhood well, one that had long been exhausted, begun flowing again.<br><br>Water was not all that began flowing. The rebirth of
                            rainwater harvesting set loose a cascade of constructive forces, in Gopalpura and beyond. <br><br>The first wave of effects swept through Gopalpura itself. By 1996, Gopalpurans had built nine johads, covering 2,381 acres and
                            holding 162 million gallons of water. Underground water had risen from an average level of 45 feet below the surface to only 22 feet, and all the wells had water. The ascending aquifer trickled up through the village economy.
                            Well water was once again available just a few steps from home. Moister subsoil allowed crops to thrive with less irrigation. Because well levels were higher, less fuel was needed to pump water to the surface. The expense of
                            diesel fuel dropped 75 percent. The area of wheat fields jumped from 33 to 108 hectares, and some farmers diversified into sugarcane, potatoes and onions. Many of their fields could now produce two crops, one in the rainy season
                            and an irrigated crop in the dry season. As people ate and drank better, so did their livestock. There were more leftover leaves and stems to serve as fodder for sheep, goats and dairy cows.
                        </div>
                    </div>
                </div>
                <div style="margin:20px 0px;">
                    <div class="para">
                        <div class="para-title"> Flutur’s role in the project

                        </div>

                        <div style="text-align:center;">
                            <img alt="flutur" src="/image/white_facebook_icon.png" class="para-image">
                            <div class="image-caption">
                                some caption
                            </div>
                        </div>

                        <div class="para-text">
                            The project will be featured on Flutur New Tab with a hope to financially contribute the project. To raise funds for the project please install Flutur New Tab. Also, please spread the word to help TBS achieve their goals. Remember it is the little thing
                            that you do today that matters a whole lot more tomorrow :)<br><br>Support TBS by volunteering or donating directly, check them out here: http://tarunbharatsangh.in. <br><br>Go on, bring water in
                            other’s lives, champion this cause now!</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blue-27">
            <div>
                <span class="support-this-cause">Support this cause!</span>
                <div class="row" style="width:60%; margin:15px auto;">
                    <div class="col-sm-8" style="padding:0">
                        <div class="cover-image" style="height:60vh;"></div>
                    </div>
                    <div class="col-sm-4" style="padding:60px 30px 20px 30px;background:#3C3C3C;height:60vh">
                        <div class="open-new-tabs-to" style="line-height:1.5; letter-spacing: 0.5px;text-align:left;">Open new tabs to</div>
                        <div class="big-action-title">
                            Build <br>Light<br>Bulbs
                        </div>
                        <div class="open-new-tabs-to" style="line-height:1.5; margin-top:10px; letter-spacing: 0.5px;text-align:left;">For villages</div>

                        <div class="start-button" onclick="installChromeApp()" style="margin-top:4em">Install Flutur New Tab
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="resp-footer">
            <%- include footer_partial.ejs %>
        </div>
        <div class="small-resp-footer">
            <%- include footer_small_partial.ejs %>
        </div>

        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a4222d4a0befa9c"></script>

</body>

<script>
    $(document).ready(function() {
        $("body").fadeIn(800);
        var category = "<%- details.category_id %>";
        if (typeof category != 'undefined') {
            $('#' + category).addClass("pink");
            $('#' + category).removeClass("black");
        } else {
            $('#all').addClass("pink");
            $('#all').removeClass("black");
        }
        $(".facebook-share").attr("href", "http://www.facebook.com/sharer.php?u=" + window.location.href);
        $(".facebook-share").click(function(e) {
            e.preventDefault();
            window.open($(this).attr('href'), 'fbShareWindow', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
            return false;
        });
    });
</script>

</html>