<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Flutur | Select Donation Mission | DonateWithoutDonating </title>
    <link rel="icon" href="image/header_logo.png" />

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand:400,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css-min/new-age.min.css" rel="stylesheet">

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111348597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111348597-1');
    </script>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>

    <style>
        li.selected {
            -webkit-box-shadow: inset 0px 0px 0px 2px #b626ff;
            -moz-box-shadow: inset 0px 0px 0px 2px #b626ff;
            box-shadow: inset 0px 0px 0px 2px #b626ff;
            border-radius: 20px;
        }
        
        .hor-list li {
            display: table-cell;
            padding: 10px 20px;
            margin-left: 10px;
            margin-right: 10px;
            vertical-align: middle;
            cursor: pointer;
        }
        
        li img {
            vertical-align: middle;
            width: 70%;
        }
        
        .hor-list {
            margin-top: 50px;
            margin-bottom: 50px;
            margin: 0 auto;
            width: 80%;
        }
        
        body,
        html {
            background: white;
            text-align: center;
        }
        
        .big-title {
            color: #000000;
            font-family: Quicksand;
            font-size: 40px;
            font-weight: bold;
            line-height: 50px;
            text-align: center;
        }
        
        .medium-title {
            color: #000000;
            font-family: Quicksand;
            font-size: 20px;
            font-weight: bold;
            line-height: 25px;
            text-align: center;
        }
        
        .small-title {
            color: #4C4C4C;
            font-family: Quicksand;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 20px;
            text-align: center;
            margin-top: 10px;
        }
        
        .mission-li:hover {
            border: 1px solid #e8e8e8;
            border-radius: 20px;
        }
    </style>

</head>

<body>

    <div style="position:relative; width:100%; height:100%">

        <div style="width:100%; position:absolute; text-align:center; padding: 40px 0px">

            <div class="big-title">Choose your mission!</div>
            <div class="medium-title">Tabs opened will raise funds towards your selected mission</div>
            <div class="small-title" style="color:#989898">Select a different one every week!</div>

            <ul class="hor-list" style="margin-bottom:50px">
                <% for(var i=0; i<data.length; i++) { %>
                    <li class="mission-li" id="<%-data[i].cause_id%>" style="width:20%">
                        <img src="<%- data[i].character.img_url %>">
                        <div class="medium-title">
                            <%- data[i].character.name %>
                        </div>
                        <div class="small-title" style="color:#989898; padding:0 5px;">
                            <%- data[i].character.desc %>
                        </div>
                    </li>
                    <% } %>
            </ul>
            <div id="lets-go-button">
                <div id="donate-now" class="grey-button disabled">
                    <div class="thick-text white center-text" style="font-size:20px"><i style="margin-right:10px" class="fa fa-heart" aria-hidden="true"></i>Let's Go</div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
</body>
<script src="js/jquery.js"></script>
<script src="js/jquery-ui.js"></script>
<script type="text/javascript">
    var $li = $('.hor-list li').click(function() {
        $("li").removeClass("mission-li");
        $li.removeClass('selected');
        $(this).addClass('selected');
        document.getElementById("lets-go-button").innerHTML = "<a class=\"pointer-class\" style=\"margin-top: 20px\" id=\"link\" href=\"/new-tab/mission-selected?cause_id=xyz\"><div id=\"donate-now\" class=\"pink-button disabled\"><div class=\"thick-text white center-text\" style=\"font-size:20px\"><i style=\"margin-right:10px\" class=\"fa fa-heart\" aria-hidden=\"true\"></i>Let's Go</div></div></a>";
        $("#link").attr("href", "/new-tab/mission-selected?cause_id=" + $(this).attr("id"));
    });
</script>

</html>