<div>
    <div class="very-thin-roboto" style="float:right"><b>Thank you! :)</b> By reading this article you are donating funds to save the world via the flutur effect! Share this to have more impact or just read on!</div>
    <img style="width:50px;height:50px;float:right" src="/image/happy_earth.png">
</div>