<div>
    <img class="circ-img" style="float:left" src="<%- details.author_photo_url %>">
    <div class="user-deets" style="float:left;">
        <div class="small-roboto-thick black">
            <%- details.author_name %>
        </div>
        <div class="small-roboto-thin dark-grey">
            <%- details.timestamp %>
        </div>
    </div>
</div>