<div>
    <img style="width:50px;height:50px;float:left" src="/image/happy_earth.png">
    <div class="very-thin-roboto" style="float:left"><b>Thank you! :)</b> By reading this article you are donating funds to save the world via the flutur effect! Share this to have more impact or just read on!</div>
</div>