<table id="small-impact-grid">
    <tr>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
    </tr>
    <tr>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
    </tr>
    <tr>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
    </tr>
    <tr>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
        <td><img alt="Flutur Effect" class="impact-img" src="/image/tree_empty.png"></td>
    </tr>
</table>