<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Flutur - Privacy</title>
    <link rel="icon" href="image/header_logo.png" />

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand:400,700" />
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css-min/site.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>

    <link rel="alternate" href="http://www.flutur.org/privacy" hreflang="en-in" />
    <link rel="alternate" href="http://www.flutur.org/privacy" hreflang="en" />

    <meta name="keywords" content=" flutur new tab, flutur, flutur terms, flutur privacy, flutur faqs, flutur effect, flutur bengaluru, flutur india, flutur foundation, flutur chrome tab, tabs for a change, chrome new tab, flutur tabs for a change, flutur ngos donation, flutur donatewithoutdonating"
    />


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111348597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111348597-1');
    </script>

    <style>
        .small-margin-top {
            margin-top: 10px;
        }
        
        .big-margin-top {
            margin-top: 60px;
        }
        
        .small-margin-bottom {
            margin-bottom: 10px;
        }
        
        .footer-title {
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 20px;
        }
        
        .footer-desc {
            display: none
        }
        
        body,
        html {
            background: white;
            font-family: Quicksand;
        }
        
        @media (min-width: 768px) {
            .navbar-default .navbar-header .navbar-brand {
                color: rgba(0, 0, 0, 0.7);
            }
            .navbar-default .nav>li>a,
            .navbar-default .nav>li>a:focus {
                color: rgba(0, 0, 0, 0.7);
            }
        }
        
        @media (min-width: 1200px) {
            .container {
                width: 90%;
            }
        }
        
        h2 {
            margin-top: 50px;
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 25px;
        }
        
        .terms-container>li {
            font-size: 20px;
        }
        
        p {
            font-size: 16px;
            margin-left: 60px;
            margin-bottom: 30px;
        }
        
        .small-margin-top {
            margin-top: 10px;
        }
        
        .big-margin-top {
            margin-top: 60px;
        }
        
        .small-margin-bottom {
            margin-bottom: 10px;
        }
        
        .footer-title {
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 20px;
        }
        
        .footer-desc {
            display: none
        }
        
        .footer-icons {
            font-size: 20px;
        }
        
        .side-margin-5 {
            margin: 0 15px;
        }
    </style>
</head>

<body style="display:none">

    <%- include standard-header.ejs %>

        <div class="terms-container" style="width:80%; margin: 0 auto; padding: 10px 10px 10px 10px;">
            <div class="big-title" style="margin:20px 0px 0px 0px">Terms &amp; Conditions</div>

            <b>Flutur is on a journey to create an online based funding platform that potentially facilitates anyone to be a part of a bigger cause with little or no intervention at all. The team constantly works to improve the usability, accessibility,
                transparency &amp; trustworthiness of its online products and hopes to ensure a seamless experience while using the same.</b><br><br>

            <span>The Terms &amp; Conditions of Use (“T&amp;Cs”) that govern the usage of Flutur (“Us”) by all of its associated stakeholders i.e. the Users, NGOs, Any other kind of organization/ company and anyone else who interacts, visits, gathers information, consumes text, graphics, photos or other materials that have been uploaded, downloaded or appearing any of its products and future products, online or offline have been listed out (but are not limited to) and explained below.<br><br>By accessing or using Flutur’s products &amp; services you accept, agree &amp; are bound to the terms and conditions in their entirety. If you do not accept the T&amp;Cs please avoid using/interacting with all of the services and products offered online or offline by us. Any queries or questions can be sent to the Contacts available of the Flutur team.</span>



            <h2>1. Non-Governmental Organizations (“NGOs”) &amp; Charities </h2>

            <b>A. Filtering, Selection &amp; Continuation of NGOs and charitable organizations</b> <br>Flutur reserves the right to select NGOs and other charitable organizations for the purpose of collaboration and donation based on certain criteria
            that are subject to change at any time at its own discretion. Flutur will not be responsible to notify any of the above mentioned institutions about any such changes that may occur.<br><br>The criteria of selection for such institutions are
            listed below but are not limited to the same and there may be exceptions considered on certain grounds such as being extremely beneficial towards the growth of Flutur and/or being of prime interest in terms of current affairs. The causes,
            NGOs and Charities are currently selected based on whether they :<br>
            <br>
            <ul>
                <li>
                    Fall within the geographical reaches of India</li>
                <li>
                    Are directly involved in the implementation of projects</li>
                <li>
                    Have a reasonable track record of successful project implementations </li>
                <li>
                    Directly benefit the rural reaches of India</li>
                <li>
                    Fall within sections 80G or 80GGA of the Income Tax Act, India.</li>
                <li>
                    Have significant reach within the country of India and a global presence.</li>
            </ul>
            <br> Flutur also reserves the right to cancel or remove any of the NGOs or organizations that may have been previously onboarded from its website or discontinue all donations to a charity at any time and without reason. If such an instance
            does occur, the unpaid donations that were raised will be directed towards all other active NGO &amp; charities on the Flutur platform. If any of the previously on boarded NGOs or charity’s administration intimates Flutur with a request to
            remove them as beneficiaries to the funds raised and/or from all of the featuring platforms, Flutur will comply with the request within 21 days of the intimation.
            <br><br> By featuring any charities, NGOs or organizations Flutur does not necessarily imply the presence of any formal partnerships or relationships.
            <br><br>
            <b>B. Donations raised and transferred towards NGOs and charitable organizations</b>
            <br>Flutur’s revenue generation model is largely focused on that which is raised through advertisements shown on our platform. This advertisement generated revenue will be donated towards the NGOs or charitable organizations on a periodic
            basis and when the total generated revenue for each listed cause reaches a base threshold of Rs 1000. <br><br>Any kind of representation of Flutur’s “Donated” or “Raised” amounts on the online platforms unless otherwise formally specified,
            does not imply that Flutur has raised or received the same amount depicted from its revenue channels. This amount only indicates the approximate projections and bandwidth of users that have downloaded or used revenue generating features on
            the platform, to generate revenue for donations. Flutur also reserves the right to modify the “Donated” or “Raised” amounts on its platforms at any time at its own discretion so as to allow for various operational requirements that may arise
            during its operation.<br><br>Please note that in a situation that Flutur does not receive payment from its revenue channels for any reason, including but not limited to advertisement click-fraud, Flutur is not responsible for making any donation
            and reserves the right to modify the displayed Rupee amounts accordingly.<br><br>Donations made towards any projects of the NGOs or Charitable organizations that are depicted on Flutur does not hold flutur liable if the same donation is not
            used for the same project.
            <br><br>
            <b>Donation period towards NGOs and charitable organizations</b> <br>For various tax related, accounting and administrative reasons Flutur will only make a donation towards the NGOs and charitable causes at the end of quarters considering
            that the amount of donations towards each NGOs or charitable organization reaches or crosses a threshold of Rs 1000. In the case where at the end of a quarter, the available donation amount to any NGO or charitable organization does not reach
            the threshold of Rs 1000, the same amount will be reserved till the next quarter and donated to the same NGO or charitable cause considering that the amount reaches or exceeds the previously mentioned threshold value.<br><br>Although Flutur
            may at times depict the funds as “User generated” funds or use such terms to indicate that the funds that were generated by our users through our revenue acquisition means it does not imply ownership of funds by the users themselves. These
            user generated funds are owned by Flutur and donated from Flutur towards the associated NGOs and charitable organizations. Users of Flutur’s online platform unless otherwise formally indicated can not lay legal claim or exert control over
            any of the funds generated and must be aware that these funds can not be used for tax related benefits as per the laws of the land.

            <br><br>
            <h2>2. Content usage, reproduction and display</h2> Flutur to the best of its knowledge does not use, reproduce or display content that it does not have the permission to do so. Any imagery, content, videos etc., have been given due representation
            based on the source that it was acquired from as per the agreements mentioned in the licensing obtained for the same while being sourced.<br><br>Any User, NGO &amp; Charitable organization on usage or affiliation with Flutur permits usage,
            reproduction and display rights of such submitted content in the form of images, videos, information etc., Any usage, reproduction or display of user, NGO or charitable organization submitted content will be done so in good faith. All objections
            and requests for removal must be submitted to Flutur with due proof at hello@flutur.org; Flutur will comply to take action for the same within a period of 14 days from submission of the request and proof.
            <br><br>

            <h2>3. Disclaimers and limitations of liability</h2>
            Please read this section carefully since it limits the liability of Flutur and its parents, subsidiaries, affiliates, related companies, officers, directors, employees, agents, representatives, partners, and licensors (collectively, the “Flutur entities”).
            <br><br>
            <b>A. Third-party website links &amp; resources</b><br> The Website may contain links to third-party websites or resources. You acknowledge and agree that the Flutur Entities are not responsible or liable for: (i) the availability or accuracy
            of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by the Flutur Entities of such websites or resources
            or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.<br><br><b>
B. The Website is Available "AS-IS"</b><br> The Website is provided to you on an "as is" and "as available" basis and the use of the Website is at your own risk. Flutur makes no representations or warranties, either expressed or implied, with respect
            to the Website, or any service or information provided through the Website. No claims are made of accuracy of data, merchantability or fitness for a particular purpose<br><br>Flutur makes no warranty and disclaims all responsibility and liability
            for: (i) the completeness, accuracy, availability, security or reliability of the Website or any Content; (ii) any harm to your computer system, loss of data, or other harm that results from your access to or use of the Website; and (iii)
            whether the Website will meet your requirements on an uninterrupted, secure, or error-free basis.<br><br>Flutur will use reasonable efforts to keep its site online at all times. The user understands however that scheduled maintenance and server
            related problems out of the control of Flutur can cause the site to malfunction without prior notice.
            <br><br>
            <b>C. Limitation of Liability</b><br> Flutur and its entities assume no responsibility for any consequence relating directly or indirectly to any action or inaction that you take based on the content available via the web site or on all other
            platforms of Flutur. You must evaluate, and bear all risks associated with, the use of any content, including any reliance on the accuracy, completeness, or usefulness of such content.<br><br>The Flutur entities will not be liable by any applicable
            laws for any indirect, incidental, special, consequential or punitive damages, or any loss of profits or revenues, whether incurred directly and or indirectly, or any loss of data, use, or other intangible losses, resulting from : (I) Your
            access to or use of or inability to access or use the website; (Ii) The conduct or content of third parties on the website or on all other platforms, including without limitation, any defamatory, offensive or illegal conduct of other users
            or third parties; (Iii) Any content obtained from the website; (Iv) Unauthorized access, use or alteration of your transmissions or content.<br><br>

            <h2>Changes to Terms</h2>Flutur reserve the rights to change its terms &amp; conditions of use at its own discretion and will not be held responsible for the notifying of the same to the users,NGOs or Charitable organizations. Please visit this
            page frequently to be aware of any changes that have been made.

            <%- include contact_partial_small.ejs %>

        </div>
        <div class="resp-footer">
            <%- include footer_partial.ejs %>
        </div>
        <div class="small-resp-footer">
            <%- include footer_small_partial.ejs %>
        </div>
</body>

<script type="text/javascript">
    $(document).ready(function() {
        $("body").fadeIn(800);
    });
</script>
</html