<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Flutur | Privacy Policy | DonateWithoutDonating</title>
    <link rel="icon" href="image/header_logo.png" />

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand:400,700" />
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css-min/new-age.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/mobile-view.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/blog.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111348597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111348597-1');
    </script>

    <style>
        body,
        html {
            background: white;
            font-family: Quicksand;
        }
        
        @media (min-width: 768px) {
            .navbar-default .navbar-header .navbar-brand {
                color: rgba(0, 0, 0, 0.7);
            }
            .navbar-default .nav>li>a,
            .navbar-default .nav>li>a:focus {
                color: rgba(0, 0, 0, 0.7);
            }
        }
        
        @media (min-width: 1200px) {
            .container {
                width: 90%;
            }
        }
        
        h2 {
            margin-top: 50px;
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 25px;
        }
        
        .terms-container>li {
            font-size: 20px;
        }
        
        p {
            font-size: 16px;
            margin-left: 60px;
            margin-bottom: 30px;
        }
    </style>
</head>

<body style="display:none">

    <%- include standard-header.ejs %>

        <div class="terms-container" style="width:80%; margin: 0 auto; padding: 10px 10px 10px 10px;">
            <div class="big-title" style="margin:20px 0px 0px 0px">Privacy</div>
            <h2>What personal information is collected from you through the websites?</h2>
            <ol>
                <li>Information collection and use.</li>
            </ol>
            <p><span style="font-weight: 300;">Flutur is the sole owner of the information collected on the websites. We will not sell, share, transfer or rent any personal information to others in ways different from what is disclosed in this Privacy Policy. Flutur collects information from you on the "Sign Up" or &ldquo;Get Updates&rdquo; (hereafter referred as Profile Pages) pages. Flutur reserves the rights to collect, disseminate, sell or otherwise disclose non-personal information provided by you. </span></p>
            <ol start="2">
                <li>Registration.</li>
            </ol>
            <p><span style="font-weight: 300;">During the collection of information on the Profile Pages on the Websites, you are required to provide your applicable contact information (such as name, e-mail address and the like). An email address is also used to contact you about the materials and information on the Websites. When the Websites request for the confirmation of your identity, the Websites will clearly indicate the purpose of the inquiry before such information is requested. In the case of professional information, professional information provided by you to us will be authenticated against a third party provider. Professional information shall include but not limited to name, email address and the like. </span></p>
            <ol start="3">
                <li>IP Addresses. </li>
            </ol>
            <p><span style="font-weight: 400;">Every computer connected to the Internet is given a domain name and a set of numbers that serve as that computer's Internet Protocol or IP address. When you browse the Websites, our web servers automatically recognize your domain name and IP address. The domain name and IP address reveal nothing personal about you other than the IP address from which you have accessed the Websites. </span></p>
            <ol start="4">
                <li>Privacy of Minors.</li>
            </ol>
            <p><span style="font-weight: 400;">Flutur strongly encourages parents and guardians to supervise the online activities of their minor children and consider using parental control tools available from online services and software manufacturers to help provide a child-friendly online environment. These tools also can prevent minors from disclosing their name, address, and other personally identifiable information online without parental permission. Please note that although the Websites are not intended for use by minors, Flutur respects the privacy of minors who may inadvertently use the Internet. </span></p>

            <ol start="5">
                <li>Opt Out Procedures. </li>
            </ol>
            <p><span style="font-weight: 400;">Upon initial communication from Flutur, you may opt-out of receiving further communication from Flutur. To be completely removed from the Flutur mailing list, you may contact foundation.Flutur@gmail.com. If you are using an e-mail forwarding service or other similar service please make sure to include the correct e-mail address or addresses. </span></p>
            <h2>How the information collected is used</h2>
            <ol>
                <li><span style="font-weight: 400;"> Use of Personal Information. </span></li>
            </ol>
            <p><span style="font-weight: 400;">Flutur takes utmost care with respect to the security of the information you decide to upload, you understand that any information that you disclose on the Website is at your own risk. Flutur will retain the information you upload on the Website for as long as it is needed to fulfil the service you seek to avail on the Website. If you delete your account, Flutur will delete such information. <br>But please note: there might be some latency in deleting this information from our servers and back-up storage;</span></p>

            <ol start="2">
                <li>Sale of Assets, Merger, Acquisition, Bankruptcy. </li>
            </ol>
            <p><span style="font-weight: 400;">Information collected from you may be transferred to a third party as a result of a sale or acquisition, merger or bankruptcy involving Flutur. </span></p>

            <ol start="3">
                <li>Cookies. </li>
            </ol>
            <p><span style="font-weight: 400;">A cookie is a small piece of data that is sent to your browser from a web server and stored on your computer's hard drive. A cookie cannot read data off your hard disk or read cookie files created by other sites. Use of a cookie is in no way linked to any personally identifiable information while on the Websites. Once you close your browser, the cookie simply terminates. For instance, by setting a cookie on your browser, you would not have to log in a password more than once, thereby saving time while on the Websites. You can choose whether to accept cookies by changing the settings of your browser. You can reset your browser to refuse all cookies or allow your browser to show you when a cookie is being sent. If you reject the cookies on the websites, you may still be able to use the Websites, but it shall be limited to certain minimal functionality. The only drawback to this is that you may be limited only to some areas of the Websites or limited to certain functions of the Websites. Some of our business partners may use cookies on the Websites. Please note that we have no access to or control over these cookies. Flutur and our business partners may use cookies to better personalize the content, banners, and promotions that you see on the Websites. </span></p>

            <ol start="4">
                <li>Log Files. </li>
            </ol>
            <p><span style="font-weight: 400;">Flutur may use IP addresses to analyse trends, administer the Site, track your movement, and gather broad demographic information for aggregate use.</span></p>
            <h2>How information may be Shared and Disclosed</h2>
            <ol>
                <li>Sharing. </li>
            </ol>
            <p><span style="font-weight: 400;"> Flutur may share aggregated demographic information with Flutur&rsquo;s partners. This is not linked to any personal information that can identify any individual person. Flutur shall not be liable for the transfer of any personal information resulting from loss or distribution of data, the delineation or corruption of storage media, power failures, natural phenomena, riots, and acts of vandalism, sabotage, terrorism or any other event beyond Flutur&rsquo;s control. </span></li>
            </p>

            <ol start="2">
                <li>Consulting. </li>
            </ol>

            <p><span style="font-weight: 400;"> Flutur may partner with third parties to provide specific services. When you sign up for these third party services, Flutur will share names, or other contact information that is necessary for the third party to provide these services. According to Flutur&rsquo;s contractual arrangements with parties, these parties are not allowed to use personal information except for the explicit purpose of providing these services. </span></p>

            <ol start="3">
                <li>Spam.</li>
            </ol>

            <p> <span style="font-weight: 400;"> Flutur maintains a strict "No-Spam" policy, which means that Flutur does not intend to sell, rent or otherwise give your e-mail address to a third party without your consent. </span></p>

            <ol start="4">
                <li>Legal Requests.</li>
            </ol>

            <p><span style="font-weight: 400;">  Flutur takes your right to privacy very seriously and has taken measures to safeguard and respect your personal information. Flutur will only disclose your personal information in the event it is required to do so by law, rules, regulations, law enforcement, governmental official, legal authority or similar requirements. </span></p>

            <h2>How we protect your Information</h2>

            <ol>
                <li>Confidentiality and Security.</li>
            </ol>

            <p><span style="font-weight: 400;">  Flutur takes all necessary precautions to protect your personal information both online and off-line. No administrator at Flutur will have knowledge of your password. It is important for you to protect against unauthorized access to your password and to your computer. Be sure to log off from the Websites when you are using a shared computer. Flutur also protects your personal information off-line. Access to your personal information is limited to employees, agents or partners and third parties with whom we are working who Flutur reasonably believes will need that information to provide services to you. However, Flutur is not responsible for the confidentiality, security or distribution of your own personal information by our partners and third parties outside the scope of our agreement with such partners and third parties. </span></p>

            <ol start="2">
                <li>Links.</li>
            </ol>

            <p><span style="font-weight: 400;">  The Websites may contain links to other third party sites. The third party sites are not necessarily under the control of Flutur. Please note that Flutur is not responsible for the privacy practices of such third party sites. Flutur encourages you to be aware when you leave the Websites and to read the privacy policies of each and every third party site that collects personal information. If you decide to access any of the third-party sites linked to the Websites, you do this entirely at your own risk. Any links to any partner of the Websites is the responsibility of the linking party, and Flutur shall not be responsible for notification of any change in name or location of any information on the Websites.</span></p>


            <h2>Correcting Inaccuracies</h2>

            <ol>
                <li>Correction/Updating Personal Information.</li>
            </ol>

            <p><span style="font-weight: 400;"> If your personal information changes, or if you no longer desire to use the Websites, you can update your profile on the profile pages of the Websites. Flutur will endeavour to correct, update or remove your personal data provided to Flutur. </span></p>
            <ol start="2">
                <li>Notification of Changes.</li>
            </ol>

            <p><span style="font-weight: 400;">  We may update this Privacy Policy at any time, with or without advance notice to you. In the event there are significant changes in the way we treat your personal information, or in the Privacy Policy, we will display a notice on the Websites or send you an email, so that you may review the changed terms prior to continuing to use the Websites. As always, if you object to any of the changes to our terms, and you no longer wish to use the Websites, you may contact us to deactivate your account. Unless stated otherwise, our current Privacy Policy applies to all information that Flutur has about you and your account. Using the services on the Websites or accessing the Websites after a notice of change has been sent to you or published on our Websites shall constitute your consent to the changed terms. </span></p>

            <ol start="3">
                <li>Site and Service Updates.</li>
            </ol>

            <p><span style="font-weight: 400;">  As necessary, Flutur may send you Website and service announcement updates. You will not be able to unsubscribe from service announcements, which contain important information about the Websites. Flutur communicates via e-mail to provide requested services and to resolve issues relating to your account. </span></p>

            <ol start="4">
                <li>Consent to This Policy </li>
            </ol>
            <p><span style="font-weight: 400;">  The Terms and Conditions are incorporated herein by reference in its entirety.</span></p>

            <!-- <h2>Grievance Redressal -</h2>

        <p><span style="font-weight: 400;">For grievance, please find below the contact details:
            <br>E-Mail: hello@flutur.org
            <br>Work Timings: Monday &ndash; Friday &ndash; 0900 Hrs &ndash; 1800 Hrs
            <br>Contact No.: +91 8310753447</span></p> -->

            <%- include contact_partial_small.ejs %>

        </div>
        <div class="resp-footer">
            <%- include footer_partial.ejs %>
        </div>
        <div class="small-resp-footer">
            <%- include footer_small_partial.ejs %>
        </div>
</body>

<script type="text/javascript">
    $(document).ready(function() {
        $("body").fadeIn(800);
    });
</script>
</html