<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="image/header_logo.png" />
    <title>Flutur | Frequent Apps | DonateWithoutDonating</title>



    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111348597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111348597-1');
    </script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">

    <link href="/css-min/new-age.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css-min/styles.min.css">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


</head>


<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img src="/image/logo.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/login">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/about-us">About Us 1</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About Us 2</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/terms">Terms and Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="ad-on-right" style="z-index: 9999; display:inline-block">
        <h3>Ad comes here</h3>
    </div>


    <section style="width:60%; display:inline-block; padding: 10px 0 0 100px !important" class="features">
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <a class="img-link" href="http://www.facebook.com">
                            <div class="col-md-3">
                                <div class="small-feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Gmail</h3>
                                </div>
                            </div>
                        </a>
                        <a class="img-link" href="http://www.facebook.com">
                            <div class="col-md-3">
                                <div class="small-feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Facebook</h3>
                                </div>
                            </div>
                        </a>
                        <a class="img-link" href="http://www.facebook.com">
                            <div class="col-md-3">
                                <div class="small-feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Gmail</h3>
                                </div>
                            </div>
                        </a>
                        <a class="img-link" href="http://www.facebook.com">
                            <div class="col-md-3">
                                <div class="small-feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Facebook</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a class="img-link" href="http://www.facebook.com">
                            <div class="col-md-3">
                                <div class="small-feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Gmail</h3>
                                </div>
                            </div>
                        </a>
                        <a class="img-link" href="http://www.facebook.com">
                            <div class="col-md-3">
                                <div class="small-feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Facebook</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </section>
</body>

</html>