@media screen and (min-width: 700px) {
    .trans-box,
    .resp-footer {
        display: block;
    }
    .small-trans-box,
    .small-resp-footer,
    .small-header-content,
    .small-header-content-inner {
        display: none;
    }
    .gif-container {
        text-align: right;
    }
    .ngo-container {
        margin-top: 40px;
    }
    .about-container {
        padding: 170px 0;
    }
}

@media all and (max-width: 699px) {
    html,
    body {
        height: 100%;
        background-size: 800% 800%;
        animation: AnimationName 18s ease infinite;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .trans-box,
    .resp-footer,
    .pledge-container {
        display: none;
    }
    .small-trans-box,
    .small-resp-footer,
    .small-header-content,
    .small-header-content-inner {
        display: block;
    }
    .gif-container,
    .flutur-effect-container,
    .amita-img-container,
    .tab-project-container {
        text-align: center;
    }
    header {
        padding: 80px 5px 0px 5px;
    }
    header .header-content {
        text-align: center;
        padding: 100px 0 0px 0px;
        position: relative;
    }
    .about-container,
    .pledge-section {
        padding: 50px 10px;
    }
    .pink-quicksand-title {
        font-size: 26px;
        font-weight: bold;
        line-height: 26px;
    }
    .black-quicksand-title {
        font-size: 35px;
        font-weight: bold;
        line-height: 35px;
    }
    .tab-project-details-container {
        padding: 0px 50px 20px 50px;
    }
    .know-how-container {
        margin-left: 50px;
    }
    .impact-img {
        width: 22px;
        height: 22px;
        margin-bottom: 5px;
    }
    .font-smaller {
        font-size: 12px;
    }
    #footer-motivation {
        margin-top: 0;
    }
    .main-home-title {
        visibility: hidden;
        letter-spacing: -1px;
        font-size: 35px;
        line-height: 35px;
    }
    .primary-section-container {
        padding: 0px 50px;
    }
}

.small-footer-row {
    margin-top: 20px;
    text-align: center;
}

.small-display-number {
    font-size: 20px;
    color: white;
    font-family: Quicksand;
    font-weight: bold;
}

.small-footer {
    background-color: #222222;
    background-color: #3C3C3C;
    padding: 20px;
}

.small-footer ul li a {
    font-size: 13px;
    letter-spacing: 1px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-family: 'Quicksand', 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 300;
}

.small-trans-box {
    color: white;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    z-index: 7;
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 30px 30px 5px 30px;
}
