.navbar-default {
    z-index: 59;
    background: transparent;
    box-shadow: none;
    border-color: transparent;
}

.navbar-brand {
    padding: 0px;
    min-height: 60px;
}

.navbar-brand>img {
    height: 90%;
    padding: 10px 0 0 15px;
    width: auto;
    /* filter: drop-shadow(1px 1px 3px #505050); */
}

.heading {
    font-size: 35px;
    line-height: 40px;
}

.black {
    color: #000000;
}

.bold {
    font-weight: bold;
}

.para {
    color: #5E5E5E;
    font-size: 12px;
    line-height: 18px;
}

.subtitle {
    color: #000000;
    font-size: 18px;
    line-height: 27px;
}

.poppins {
    font-family: Poppins;
}

.hearts-donated {
    color: #000000;
    font-size: 14px;
    line-height: 18px;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mw-80 {
    width: 100%;
    margin: 0 auto;
}

a,
a:hover {
    text-decoration: none!;
    color: white;
}

.open-new-tabs-to {
    font-size: 8px;
    line-height: 10px;
    font-weight: 200;
    margin: 2px 0;
}

.ta-c {
    text-align: center
}

.secondary-mission {
    border-radius: 8px;
    background: linear-gradient(140deg, #3A5E69 0%, #1B3042 100%)
}

.secondary-mission:hover {
    background: linear-gradient(140deg, #3A5E69 40%, #1B3042 70%)
}

.mb-10 {
    margin-bottom: 10rem;
}

.action-desc {
    font-family: Poppins;
    font-size: 10.4px;
    line-height: 16px;
    text-align: center;
    line-height: 1.5;
    font-weight: 200;
    letter-spacing: 0.5px;
}

.action-desc-left {
    font-weight: 200;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.4px;
    text-align: left;
}

.white {
    color: white;
}

.action-desc {
    font-size: 8px;
    line-height: 12px;
}

.mission-img {
    width: 50%;
    height: auto;
}

.purple-24 {
    background-color: #7D13F2;
    position: absolute;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    right: 0;
    padding: 20px 0px;
    bottom: 0;
    width: 50vw
}

.purple-24:hover {
    background-color: #8D3fFf;
    font-size: 19px;
    text-decoration: none!;
}

.mission-img-container {
    text-align: left;
}

.action-title {
    font-size: 1.2em;
    margin: -50px 10px 20px 0;
    text-align: right;
    line-height: 19px;
}

.prim-action-title {
    font-size: 1.5em;
    line-height: 23px;
}

.mission-li {
    margin: 8px;
    width: 28%;
    display: inline-block;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.08);
}

.featured-green {
    color: black;
    width: 65%;
    height: 24px;
    border: 2px solid #3F3F3F;
}

.featured-mission {
    color: #1f1616;
    font-size: 6.8px;
    line-height: 10px;
}

.pt-5 {
    padding-top: 5rem;
}

.pb-5 {
    padding-top: 5rem;
}

.pb-10 {
    padding-top: 10rem;
}

.large-dialog-overlay {
    width: 100%;
    margin-bottom: 20px;
    padding: 50px;
    margin: 0 auto;
    border-radius: 5px;
    background: radial-gradient(circle, #4D291B 0%, #3F1B0D 100%);
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.08);
}

.uc {
    text-transform: uppercase
}

.mt-30 {
    margin-top: 30px;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.cat-head {
    font-family: Poppins;
    font-size: 12px;
    line-height: 18px;
}

.body {
    color: black;
}

.mt-2 {
    margin-top: 2em;
}

header .header-content {
    text-align: left;
    padding: 0;
}

.small-env-icon {
    height: 80px;
}

.login-btn {
    font-size: 18px;
    font-weight: bold;
    border-radius: 0px;
    line-height: 22px;
}

.red {
    color: #D13732;
}

.blue {
    color: #2E4587;
}

#left-side {
    width: 50vw;
    height: auto;
    position: absolute;
    font-size: 16px;
}

#right-side {
    width: 50vw;
    position: fixed;
    background-color: #f9f9f9;
    right: 0;
    height: 100vh;
    padding: 50px 70px;
    overflow: auto;
}

.sign-in-to-begin {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 33px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
}

.sign-in-stats {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    line-height: 42px;
}

#left-container {
    padding-right: 50px;
}

body {
    font-family: Poppins;
}