    .rangeslider-wrap {
        padding-top: 130px;
    }
    
    .rangeslider {
        position: relative;
        height: 5px;
        border-radius: 5px;
        width: 100%;
        background-color: white;
    }
    
    .rangeslider__handle {
        transition: background-color .2s;
        box-sizing: border-box;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: white;
        touch-action: pan-y;
        cursor: pointer;
        display: inline-block;
        position: absolute;
        z-index: 3;
        top: -5px;
        /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 0 2px white; */
    }
    
    .rangeslider__handle__value {
        transition: background-color .2s, box-shadow .1s, transform .1s;
        box-sizing: border-box;
        width: 95px;
        text-align: center;
        font-size: 24px;
        padding: 13px 5px;
        background-color: rgba(133, 0, 110, 0.25);
        border-radius: 8px;
        color: white;
        font-family: Quicksand;
        left: -40px;
        font-weight: bold;
        top: -78px;
        position: absolute;
        white-space: nowrap;
    }
    
    .rangeslider__handle__draw {
        transition: background-color .2s, box-shadow .1s, transform .1s;
        left: -18px;
        top: 20px;
        position: absolute;
        white-space: nowrap;
    }
    
    .rangeslider__handle__slide {
        transition: background-color .2s, box-shadow .1s, transform .1s;
        left: -18px;
        top: -100px;
        position: absolute;
        white-space: nowrap;
    }
    
    .rangeslider__handle__value:before {
        transition: border-top-color .2s;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 10px);
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid;
        border-top-color: rgba(133, 0, 110, 0.25);
    }
    
    .rangeslider__handle__slide:before {
        transition: border-top-color .2s;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 10px);
        content: "";
        width: 0;
        height: 0;
    }
    
    .rangeslider__handle__draw:before {
        transition: border-top-color .2s;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 10px);
        content: "";
        width: 0;
        height: 0;
    }
    
    .rangeslider__handle__slide:before {
        transition: border-top-color .2s;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 10px);
        content: "";
        width: 0;
        height: 0;
    }
    
    .rangeslider__handle__value:after {
        content: " hr";
    }
    
    .rangeslider__fill {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100%;
        background-color: white;
        border-radius: 5px;
    }
    
    .rangeslider__labels {
        position: absolute;
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: space-between;
    }
    
    .rangeslider__labels__label {
        font-size: 16px;
        margin-top: -10px;
        position: relative;
        color: white;
        font-weight: bold;
    }
    
    .rangeslider__labels__label:before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 1px;
        height: -3px;
        border-radius: 1px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    
    .rangeslider__labels__label:first-child:before,
    .rangeslider__labels__label:last-child:before {
        height: 0px;
        width: 2px;
    }
    
    .rangeslider__labels__label:first-child:before {
        background-color: lightblue;
    }
    
    .rangeslider__labels__label:last-child:before {
        background-color: white;
    }
    
    .rangeslider__labels__label:first-child {
        transform: translateX(-155%);
    }
    
    .rangeslider__labels__label:last-child {
        transform: translateX(148%);
    }
    /*     
    .rangeslider.rangeslider--active .rangeslider__handle__value {
        transform: translateY(-5px);
    }
    
    .rangeslider.rangeslider--active .rangeslider__handle__draw {
        transform: translateY(-5px);
    }
    
    .rangeslider.rangeslider--active .rangeslider__handle__slide {
        transform: translateY(-5px);
    } */