    html,
    body,
    .all-content-container {
        height: 100%;
        background: linear-gradient(277deg, #aae4d4, #57c5a4, #b27cdf, #eb8d4f);
        background-size: 800% 800%;
        animation: AnimationName 18s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0% {
            background-position: 0% 52%
        }
        50% {
            background-position: 100% 49%
        }
        100% {
            background-position: 0% 52%
        }
    }
    
    @-moz-keyframes AnimationName {
        0% {
            background-position: 0% 52%
        }
        50% {
            background-position: 100% 49%
        }
        100% {
            background-position: 0% 52%
        }
    }
    
    @keyframes AnimationName {
        0% {
            background-position: 0% 52%
        }
        50% {
            background-position: 100% 49%
        }
        100% {
            background-position: 0% 52%
        }
    }
    
    .navbar-default {
        z-index: 59;
        background: transparent;
        box-shadow: none;
        border-color: transparent;
    }
    
    .navbar-brand {
        padding: 0px;
        min-height: 60px;
    }
    
    .navbar-brand>img {
        height: 100%;
        padding: 10px 0 0 15px;
        width: auto;
        /* filter: drop-shadow(1px 1px 3px #505050); */
    }
    
    .quicklink-img {
        height: 23px;
        margin-left: 5px;
        margin-right: 5px;
        width: auto;
        filter: drop-shadow(1px 1px 3px #505050);
    }
    
    .navbar-right {
        margin: 10px 0 0 0;
        min-height: 60px;
    }
    
    .navbar {
        min-height: 60px;
    }
    
    #clockbox {
        color: white;
        font-family: Roboto;
        font-size: 112.5px;
        margin-top: -30px;
        font-weight: 500;
        letter-spacing: -1px;
    }
    
    .weight-500 {
        color: #FFFFFF;
        font-family: Quicksand;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
    }
    
    .thin-greeting {
        color: white;
        font-family: Quicksand;
        font-size: 40px;
        font-weight: 300;
        line-height: 47px;
        text-align: center;
    }
    
    #autocomplete {
        width: 50%;
        height: 65px;
        text-indent: 7px;
        border-radius: 9px;
        border-width: 0px;
        font-size: 20px;
        color: #989898;
        padding-left: 10px;
        z-index: 15;
        font-size: 20px;
        font-family: Quicksand;
        background-color: white;
    }
    
    .background {
        background-color: transparent;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
    }
    
    .widgets {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        margin-right: 130px;
        transition: opacity .3s ease;
        position: absolute;
    }
    
    #bottom,
    .widgets.show-widgets {
        opacity: 1
    }
    
    #full {
        height: 100%
    }
    
    #bottom,
    #bottom-left,
    #bottom-right,
    #middle,
    #center-above,
    #middle-below,
    #top-left,
    #top-right {
        position: absolute;
    }
    
    #middle {
        display: block;
        top: 35%;
        left: 50%;
        width: 100%;
        text-align: center;
        -webkit-transform: translate(-50%, -50%)
    }
    
    #center-above,
    #middle-below {
        display: block;
        top: 87%;
        left: 50%;
        width: 100%;
        text-align: center;
        -webkit-transform: translate(-50%, -50%)
    }
    
    #center-above,
    #middle-below {
        left: 0;
        top: 45%;
        -webkit-transform: translate(0, 0);
        z-index: 5;
    }
    
    #bottom {
        width: 50%;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%)
    }
    
    #top-right {
        top: 0;
        right: 0;
        z-index: 2
    }
    
    #top-bar,
    #top-left {
        top: 0;
        left: 0;
        z-index: 2
    }
    
    #bottom-right {
        bottom: 0;
        right: 0;
        z-index: 2
    }
    
    #bottom-left {
        bottom: 1px;
        left: 0;
        z-index: 2
    }
    
    .metric,
    .widget-bottom-right {
        display: inline-block;
        text-align: right
    }
    
    #center-above {
        top: 0;
        z-index: 2
    }
    
    .footer {
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 0;
        height: 90px;
    }
    
    #user-profile,
    .profile-drawer {
        width: 555px;
        background: #3c3c3c;
    }
    
    #user-profile-container {
        color: #DB8282;
        position: relative;
        height: 100%;
        padding: 10px 10px 10px 10px;
        /* border-radius: 5px 0px 0px 0px; */
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.2);
    }
    
    .display-number {
        font-size: 25px;
        color: white;
        font-family: Quicksand;
        font-weight: bold;
    }
    
    .display-number-title {
        font-size: 15px;
        color: white;
        font-family: Quicksand;
    }
    
    .thin-text {
        font-family: Quicksand;
        font-weight: 400;
    }
    
    .thick-text {
        font-family: Quicksand;
        font-weight: 700;
    }
    
    .bold-text {
        font-family: Quicksand;
        font-weight: bold;
    }
    
    .center-element {
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
    }
    
    .footer {
        z-index: 59;
    }
    
    .env-icon {
        width: 40%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .circle {
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.2);
        border: 3px solid teal;
        height: 50px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 50px;
        z-index: 10;
    }
    
    #myProgress {
        display: inline-block;
        vertical-align: middle;
        width: 60%;
        background-color: #ddd;
    }
    
    #myBar {
        width: 0%;
        height: 5px;
        background-color: #4CAF50;
    }
    
    .highzindex {
        z-index: 25;
    }
    /* #all-content-container { */
    /* display: hidden;
    } */
    
    .dialog-overlay {
        position: absolute;
        top: 50%!important;
        left: 50%!important;
        transform: translate(-50%, -50%)!important;
        -ms-transform: translate(-50%, -50%)!important;
        margin: auto;
        width: 100%;
        height: 100%;
        z-index: 20;
        background-color: rgba(255, 255, 255, 0.9);
    }
    
    .right-bar {
        color: white;
        position: relative;
        padding: 10px 10px 10px 10px;
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.2);
        width: 20%;
        float: right;
        margin-right: 30px;
        border-radius: 6px;
        height: calc(100% - 250px);
        z-index: 7;
    }
    
    .ad-on-right {
        z-index: 9999;
        float: right;
        margin-right: 5%;
        width: 300px;
        background-color: olive;
        height: 900px;
        margin-bottom: 100px;
    }
    
    .dark-gradient,
    .dark-gradient-ad {
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100%;
        z-index: 2;
        left: 0px;
        top: 0px;
        position: absolute;
    }
    
    .small-dialog-overlay {
        background-color: rgba(0, 0, 0, 0.76);
        width: 70%;
        height: 70%;
        border-radius: 10px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.68);
        left: 15%;
        top: 15%;
        padding: 50px;
        z-index: 3;
        position: absolute;
    }
    
    .large-dialog-overlay {
        background: linear-gradient(to top right, #84ffe4 0%, #c0a3ff 80%);
        width: 90%;
        height: 90%;
        border-radius: 10px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.68);
        left: 5%;
        top: 5%;
        padding: 20px;
        z-index: 3;
        position: absolute;
    }
    
    .page-container {
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: 1;
        position: absolute;
    }
    
    .white-title {
        color: white;
        z-index: 3;
        font-family: Roboto;
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    .white {
        color: white;
    }
    
    .fa-red {
        color: red;
    }
    
    .pink-button {
        cursor: pointer;
        border-radius: 31px;
        background-color: #FF2474;
        padding: 20px 100px 20px 100px;
        display: inline-block
    }
    
    .small-pink-button {
        cursor: pointer;
        border-radius: 31px;
        background-color: #FF2474;
        padding: 10px 0 10px 0;
        text-align: center;
    }
    
    .center-text {
        margin: 0 auto;
    }
    
    .dialog-title {
        color: #FFFFFF;
        font-family: Quicksand;
        font-size: 26px;
        line-height: 33px;
    }
    
    .hor-list {
        padding: 0;
    }
    
    .hor-list li {
        display: inline;
    }
    
    .share-text {
        color: white;
        font-family: Quicksand;
        font-size: 14px;
        position: absolute;
        bottom: 20%;
    }
    
    .share-text a {
        font-family: Roboto;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        color: #29FFEA;
    }
    
    .big-thin-text {
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 300;
    }
    
    .green {
        color: #22FFA0;
    }
    
    .big-text {
        font-size: 20px;
    }