.navbar-default {
    background: transparent;
    box-shadow: none;
    border-color: transparent;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 10px 0 0 15px;
    width: auto;
    filter: drop-shadow(1px 1px 3px #505050);
}

.quicklink-img {
    height: 20px;
    width: auto;
    filter: drop-shadow(1px 1px 3px #505050);
}

.navbar-right {
    margin: 10px 0 0 0;
}

.background {
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}