        .mailing-list-and-info {
            background: #ffca0a;
            padding: 40px 20px;
            position: relative;
            margin-bottom: -20px;
        }
        
        .funding-info-section {
            max-width: 980px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 40px;
        }
        
        .non-cta {
            margin: 30px auto 0;
            max-width: 420px;
        }
        
        .mailing-list-and-info:after {
            content: "<i class="fa fa-caret-down" aria-hidden="true"></i> ";
            display: block;
            position: absolute;
            bottom: -29px;
            left: 50%;
            font-size: 50px;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            font-family: cw-icons;
        }
        
        .p20 {
            font-size: 23px;
            text-align: center;
        }
        
        .stat-short {
            background-image: url('/image/yellow.png');
        }
        
        .stat {
            display: inline-block;
            background-size: contain;
            background-position: 50%;
            padding: 10px 15px;
            margin: -10px;
            margin-left: 0px;
            background-repeat: no-repeat;
        }
        
        p {
            font-size: 34px;
            font-weight: bold;
        }
        
        .side-by-side {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
        }
        
        .watch-video {
            background-image: url(https://media.gettyimages.com/videos/thirsty-stock-video-video-id483232005?s=640x640);
            height: auto;
        }
        
        .label {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        
        .funding-info {
            padding: 50px 30px;
            background: white;
            color: black;
        }
        
        .button,
        button {
            height: 48px;
            line-height: 48px;
            background-color: #369ff4;
            transition: background-color .15s linear;
            text-transform: uppercase;
            letter-spacing: .1em;
            border-radius: 4px;
            border: 0;
            font-size: 15px;
            padding: 0 20px;
            text-align: center;
            font-weight: 500;
            display: inline-block;
            color: #fff;
        }
        
        .outline-black {
            height: 44px;
            line-height: 44px;
            background: transparent;
            border: 2px solid;
            color: #333232;
            border-radius: 4px;
            transition: color .15s linear;
            box-sizing: content-box;
        }
        
        .cover-image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;
            min-height: 200px;
        }
        
        .side {
            vertical-align: middle;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }